Repository H-chauvet/RISU, pull requests merged in 2023-11, with the labels that each got.

#93 clear application.env
  Application/server/application.env
Labels: back

#95 Feature/214
  Application/cmds
  Application/mobile/app_code/lib/components/alert_dialog.dart
  Application/mobile/app_code/lib/components/appbar.dart
  Application/mobile/app_code/lib/main.dart
  Application/mobile/app_code/lib/pages/Settings/settings_functional.dart
  Application/mobile/app_code/lib/pages/Settings/settings_state.dart
  Application/mobile/app_code/lib/pages/contact/contact_functional.dart
  Application/mobile/app_code/lib/pages/contact/contact_state.dart
  Application/mobile/app_code/lib/pages/history_location/history_functional.dart
  Application/mobile/app_code/lib/pages/home/home_functional.dart
  Application/mobile/app_code/lib/pages/home/home_state.dart
  Application/mobile/app_code/lib/pages/login/login_functional.dart
  Application/mobile/app_code/lib/pages/login/login_state.dart
  Application/mobile/app_code/lib/pages/map/map_functional.dart
  Application/mobile/app_code/lib/pages/parameters/parameters_functional.dart
  Application/mobile/app_code/lib/pages/parameters/parameters_page.dart
  Application/mobile/app_code/lib/pages/parameters/parameters_state.dart
  Application/mobile/app_code/lib/pages/pre_auth/pre_auth_functional.dart
  Application/mobile/app_code/lib/pages/pre_auth/pre_auth_state.dart
  Application/mobile/app_code/lib/pages/profile/informations/informations_functional.dart
  Application/mobile/app_code/lib/pages/profile/informations/informations_state.dart
  Application/mobile/app_code/lib/pages/profile/profile_functional.dart
  Application/mobile/app_code/lib/pages/profile/profile_state.dart
  Application/mobile/app_code/lib/pages/signup/signup_functional.dart
  Application/mobile/app_code/lib/pages/signup/signup_state.dart
  Application/mobile/app_code/lib/router.dart
  Application/mobile/app_code/lib/utils/colors.dart
Labels: enhancement, front, mobile

#99 Algo remplissage auto conteneur
  Configurateur/front/lib/components/dialog/autofill_dialog.dart
  Configurateur/front/lib/components/dialog/container_dialog.dart
  Configurateur/front/lib/components/interactive_panel.dart
  Configurateur/front/lib/screens/container-creation/container_creation.dart
  Configurateur/front/lib/screens/password-recuperation/password-recuperation.dart
  Configurateur/front/pubspec.lock
  Configurateur/front/pubspec.yaml
  Configurateur/front/test/components/container_dialog_test.dart
  Configurateur/front/test/contact_form_test.dart
Labels: front, web

#96 Feature/226
  Application/mobile/app_code/lib/components/alert_dialog.dart
  Application/mobile/app_code/lib/components/appbar.dart
  Application/mobile/app_code/lib/globals.dart
  Application/mobile/app_code/lib/main.dart
  Application/mobile/app_code/lib/material_lib_functions/material_functions.dart
  Application/mobile/app_code/lib/pages/contact/contact_state.dart
  Application/mobile/app_code/lib/pages/home/home_state.dart
  Application/mobile/app_code/lib/pages/login/login_state.dart
  Application/mobile/app_code/lib/pages/pre_auth/pre_auth_state.dart
  Application/mobile/app_code/lib/pages/profile/informations/informations_state.dart
  Application/mobile/app_code/lib/pages/profile/profile_state.dart
  Application/mobile/app_code/lib/pages/settings/settings_page.dart
  Application/mobile/app_code/lib/pages/settings/settings_state.dart
  Application/mobile/app_code/lib/pages/signup/signup_state.dart
  Application/mobile/app_code/lib/utils/check_signin.dart
  Application/mobile/app_code/lib/utils/colors.dart
  Application/mobile/app_code/test/contact_test.dart
  Application/mobile/app_code/test/home.dart
  Application/mobile/app_code/test/settings_test.dart
Labels: enhancement, front, mobile

#101 Dark mode
  Configurateur/front/Dockerfile
  Configurateur/front/lib/components/custom_app_bar.dart
  Configurateur/front/lib/components/dialog/container_dialog.dart
  Configurateur/front/lib/components/footer.dart
  Configurateur/front/lib/components/google.dart
  Configurateur/front/lib/components/interactive_panel.dart
  Configurateur/front/lib/components/progress_bar.dart
  Configurateur/front/lib/components/recap_panel.dart
  Configurateur/front/lib/main.dart
  Configurateur/front/lib/screens/confidentiality/confidentiality.dart
  Configurateur/front/lib/screens/contact/contact.dart
  Configurateur/front/lib/screens/container-creation/container_creation.dart
  Configurateur/front/lib/screens/landing-page/landing_page.dart
  Configurateur/front/lib/screens/login/login.dart
  Configurateur/front/lib/screens/password-recuperation/password-recuperation.dart
  Configurateur/front/lib/screens/password-recuperation/password_change.dart
  Configurateur/front/lib/screens/recap-config/recap_config.dart
  Configurateur/front/lib/screens/register-confirmation/confirmed_user.dart
  Configurateur/front/lib/screens/register-confirmation/register_confirmation.dart
  Configurateur/front/lib/screens/register/register.dart
  Configurateur/front/lib/services/theme_service.dart
  Configurateur/front/lib/styles/themes.dart
  Configurateur/front/pubspec.lock
  Configurateur/front/pubspec.yaml
  Configurateur/front/test/components/interactive_panel_test.dart
  Configurateur/front/test/components/progress_bar_test.dart
  Configurateur/front/test/components/recap_panel_test.dart
  Configurateur/front/test/container_creation_test.dart
  Configurateur/front/test/landing_page_test.dart
  Configurateur/front/test/login_test.dart
  Configurateur/front/test/register_test.dart
Labels: enhancement, front, web

#106 Unit testing mobile
  Application/cmds
  Application/mobile/app_code/lib/components/alert_dialog.dart
  Application/mobile/app_code/lib/components/appbar.dart
  Application/mobile/app_code/lib/components/drop_down_menu.dart
  Application/mobile/app_code/lib/pages/contact/contact_state.dart
  Application/mobile/app_code/lib/pages/history_location/article_location.dart
  Application/mobile/app_code/lib/pages/history_location/history_page.dart
  Application/mobile/app_code/lib/pages/history_location/history_state.dart
  Application/mobile/app_code/lib/pages/home/home_state.dart
  Application/mobile/app_code/lib/pages/pre_auth/pre_auth_page.dart
  Application/mobile/app_code/lib/pages/pre_auth/pre_auth_state.dart
  Application/mobile/app_code/lib/pages/profile/informations/informations_state.dart
  Application/mobile/app_code/lib/pages/profile/profile_state.dart
  Application/mobile/app_code/lib/pages/settings/settings_state.dart
  Application/mobile/app_code/lib/pages/signup/signup_state.dart
  Application/mobile/app_code/lib/utils/validators.dart
  Application/mobile/app_code/test/appbar_test.dart
  Application/mobile/app_code/test/bottomnavbar_test.dart
  Application/mobile/app_code/test/contact_test.dart
  Application/mobile/app_code/test/drop_down_menu_test.dart
  Application/mobile/app_code/test/home.dart
  Application/mobile/app_code/test/home_test.dart
  Application/mobile/app_code/test/login_test.dart
  Application/mobile/app_code/test/pre_auth.dart
  Application/mobile/app_code/test/settings_test.dart
  Application/mobile/app_code/test/signup_test.dart
  Application/mobile/app_code/test/theme_test.dart
  Application/mobile/app_code/test/user_data_test.dart
  Application/mobile/app_code/test/validators_test.dart
  Application/server/server.js
Labels: front, mobile, test

#113 Feature/221
  Application/mobile/app_code/lib/pages/article/article.dart
  Application/mobile/app_code/lib/pages/article/list_page.dart
  Application/mobile/app_code/lib/pages/article/list_state.dart
  Application/mobile/app_code/lib/pages/article/rent_page.dart
  Application/mobile/app_code/lib/pages/article/rent_state.dart
  Application/mobile/app_code/lib/pages/home/home_state.dart
  Application/mobile/app_code/lib/pages/profile/profile_state.dart
  Application/mobile/app_code/test/location.dart
  Application/server/prisma/schema.prisma
  Application/server/server.js
  Application/server/tests/location.test.js
Labels: back, mobile, test

#112 Notifications management of a user
  Application/server/passport/strategy_options.js
  Application/server/prisma/schema.prisma
  Application/server/server.js
  Application/server/tests/apiUser.test.js
Labels: enhancement, back, database, mobile, test

#125 Fix/deploy err
  Configurateur/back/controllers/container.js
  Configurateur/back/routes/container.js
  Configurateur/front/assets/iphone.png
  Configurateur/front/lib/components/google.dart
  Configurateur/front/lib/screens/company/company.dart
  Configurateur/front/lib/screens/company/container-company.dart
  Configurateur/front/lib/screens/container-creation/container_creation.dart
  Configurateur/front/lib/screens/container-list/container_list.dart
  Configurateur/front/lib/screens/container-list/container_web.dart
  Configurateur/front/lib/screens/login/login.dart
  Configurateur/front/lib/screens/register-confirmation/register_confirmation.dart
  Configurateur/front/lib/screens/user-list/user-component.dart
  Configurateur/front/lib/screens/user-list/user_list.dart
  Configurateur/front/test/container_list_test.dart
Labels: bug, front, back, web
