Repository H-chauvet/RISU, pull requests merged in 2023-10, with the labels that each got.

#62 [ADD] update informations profile
  Application/mobile/app_code/lib/pages/login/login_state.dart
  Application/mobile/app_code/lib/pages/profile/informations/informations_functional.dart
  Application/mobile/app_code/lib/pages/profile/informations/informations_page.dart
  Application/mobile/app_code/lib/pages/profile/informations/informations_state.dart
  Application/mobile/app_code/lib/pages/profile/profile_state.dart
  Application/mobile/app_code/lib/router.dart
  Application/server/server.js
Labels: back, mobile

#70 Feature/134
  Application/mobile/app_code/lib/components/text_input.dart
  Application/mobile/app_code/lib/pages/contact/contact_functional.dart
  Application/mobile/app_code/lib/pages/contact/contact_page.dart
  Application/mobile/app_code/lib/pages/contact/contact_state.dart
  Application/mobile/app_code/lib/pages/home/home_state.dart
  Application/mobile/app_code/lib/router.dart
  Application/mobile/app_code/test/contact_test.dart
  Application/server/application.env
  Application/server/docs/prisma/index.html
  Application/server/package.json
  Application/server/prisma/schema.prisma
  Application/server/server.js
  Application/server/tests/contact.test.js
Labels: front, back, mobile, test

#73 Feature/132
  Application/mobile/app_code/lib/pages/profile/informations/informations_state.dart
  Application/mobile/app_code/lib/pages/profile/profile_state.dart
  Application/server/server.js
  Application/server/tests/profileInformation.test.js
Labels: front, back, mobile, test

#82 Feature/129
  Application/mobile/app_code/lib/pages/Settings/settings_state.dart
  Configurateur/back/app.js
  Configurateur/back/controllers/container.js
  Configurateur/back/controllers/user.js
  Configurateur/back/prisma/schema.prisma
  Configurateur/back/routes/container.js
  Configurateur/back/routes/user.js
  Configurateur/back/tests/container.test.js
  Configurateur/front/assets/3d_logo.png
  Configurateur/front/assets/cube.png
  Configurateur/front/lib/app_routes.dart
  Configurateur/front/lib/components/container_dialog.dart
  Configurateur/front/lib/components/custom_app_bar.dart
  Configurateur/front/lib/components/google.dart
  Configurateur/front/lib/components/interactive_panel.dart
  Configurateur/front/lib/components/progress_bar.dart
  Configurateur/front/lib/components/recap_panel.dart
  Configurateur/front/lib/main.dart
  Configurateur/front/lib/network/informations.dart
  Configurateur/front/lib/screens/container-creation/container_creation.dart
  Configurateur/front/lib/screens/landing-page/landing_page.dart
  Configurateur/front/lib/screens/login/login.dart
  Configurateur/front/lib/screens/profile/profile_page.dart
  Configurateur/front/lib/screens/recap-config/recap_config.dart
  Configurateur/front/lib/screens/register-confirmation/confirmed_user.dart
  Configurateur/front/lib/screens/register-confirmation/register_confirmation.dart
  Configurateur/front/lib/screens/register/register.dart
  Configurateur/front/lib/services/locker_service.dart
  Configurateur/front/pubspec.lock
  Configurateur/front/pubspec.yaml
  Configurateur/front/run_test.sh
  Configurateur/front/test/app_routes_test.dart
  Configurateur/front/test/components/container_dialog_test.dart
  Configurateur/front/test/components/interactive_panel_test.dart
  Configurateur/front/test/components/progress_bar_test.dart
  Configurateur/front/test/components/recap_panel_test.dart
  Configurateur/front/test/container_creation_test.dart
  Configurateur/front/test/login_test.dart
  Configurateur/front/test/register_test.dart
  Configurateur/front/test/services/locker_service_test.dart
  Configurateur/front/test/services/storage_service_test.dart
Labels: front, back, web

#81 Feature/140
  Application/cmds.sh
  Application/mobile/app_code/integration_test/login.dart
  Application/mobile/app_code/integration_test/main.dart
  Application/mobile/app_code/integration_test/signup.dart
  Application/mobile/app_code/lib/components/alert_dialog.dart
  Application/mobile/app_code/lib/components/appbar.dart
  Application/mobile/app_code/lib/components/bottomnavbar.dart
  Application/mobile/app_code/lib/components/drop_down_menu.dart
  Application/mobile/app_code/lib/components/error_data.dart
  Application/mobile/app_code/lib/components/text_input.dart
  Application/mobile/app_code/lib/pages/Settings/settings_functional.dart
  Application/mobile/app_code/lib/pages/Settings/settings_state.dart
  Application/mobile/app_code/lib/pages/contact/contact_functional.dart
  Application/mobile/app_code/lib/pages/contact/contact_state.dart
  Application/mobile/app_code/lib/pages/history_location/history_state.dart
  Application/mobile/app_code/lib/pages/home/home_functional.dart
  Application/mobile/app_code/lib/pages/home/home_state.dart
  Application/mobile/app_code/lib/pages/login/login_state.dart
  Application/mobile/app_code/lib/pages/map/map_functional.dart
  Application/mobile/app_code/lib/pages/map/map_page.dart
  Application/mobile/app_code/lib/pages/map/map_state.dart
  Application/mobile/app_code/lib/pages/pre_auth/pre_auth_state.dart
  Application/mobile/app_code/lib/pages/profile/profile_state.dart
  Application/mobile/app_code/lib/pages/signup/signup_state.dart
  Application/mobile/app_code/lib/router.dart
  Application/mobile/app_code/lib/utils/colors.dart
  Application/mobile/app_code/lib/utils/user_data.dart
  Application/mobile/app_code/pubspec.lock
  Application/mobile/app_code/pubspec.yaml
  Application/mobile/app_code/run
  Application/mobile/app_code/test/bottomnavbar.dart
  Application/mobile/app_code/test/home.dart
  Application/mobile/app_code/test/login.dart
  Application/mobile/app_code/test/pre_auth.dart
  Application/mobile/app_code/test/profile_test.dart
  Application/mobile/app_code/test/settings_test.dart
  Application/mobile/app_code/test/signup.dart
  Application/mobile/app_code/test/theme.dart
  Application/mobile/app_code/test/user_data.dart
  Application/mobile/app_code/test/validators.dart
  Application/mobile/app_code/test/widget_test.dart
  Application/server/prisma/schema.prisma
  Application/server/server.js
Labels: enhancement, front, back, database, mobile, test
