Repository H-chauvet/RISU, pull requests merged in 2023-12, with the labels that each got.

#134 Feature/223
  Application/mobile/app_code/lib/pages/article/article.dart
  Application/mobile/app_code/lib/pages/article/rent_state.dart
  Application/mobile/app_code/lib/pages/opinion/opinion_page.dart
  Application/mobile/app_code/lib/pages/opinion/opinion_state.dart
  Application/mobile/app_code/lib/pages/settings/settings_state.dart
  Application/mobile/app_code/test/opinion_test.dart
  Application/server/prisma/schema.prisma
  Application/server/server.js
  Application/server/tests/Opinions.test.js
Labels: back, mobile, test

#137 [FIX] add profile in navbar
  Application/mobile/app_code/lib/pages/home/home_state.dart
Labels: back, database, mobile, test

#138 Feature/222
  Application/mobile/app_code/lib/pages/article/article.dart
  Application/server/server.js
  Application/server/tests/location.test.js
Labels: back, mobile, test

#140 Feature/191, Implémentation solution de paiement
  Configurateur/back/app.js
  Configurateur/back/controllers/container.js
  Configurateur/back/controllers/payment.js
  Configurateur/back/package.json
  Configurateur/back/prisma/schema.prisma
  Configurateur/back/routes/container.js
  Configurateur/back/routes/payment.js
  Configurateur/front/lib/app_routes.dart
  Configurateur/front/lib/components/dialog/autofill_dialog.dart
  Configurateur/front/lib/components/dialog/container_dialog.dart
  Configurateur/front/lib/components/interactive_panel.dart
  Configurateur/front/lib/main.dart
  Configurateur/front/lib/screens/container-creation/container_creation.dart
  Configurateur/front/lib/screens/container-creation/payment_screen.dart
  Configurateur/front/lib/screens/landing-page/landing_page.dart
  Configurateur/front/lib/services/payment_service.dart
  Configurateur/front/pubspec.yaml
  Configurateur/front/test/components/dialog/autofill_dialog_test.dart
  Configurateur/front/test/components/dialog/container_dialog_test.dart
  Configurateur/front/test/components/interactive_panel_test.dart
  Configurateur/front/test/container_creation_test.dart
  Configurateur/front/test/payment_screen_test.dart
  Configurateur/front/test/services/theme_service_test.dart
Labels: enhancement, front, back, web, test

#143 Feature/263 - Mobile Tests Front
  Application/mobile/app_code/lib/components/alert_dialog.dart
  Application/mobile/app_code/lib/components/divider.dart
  Application/mobile/app_code/lib/pages/article/rent_page.dart
  Application/mobile/app_code/lib/pages/article/rent_state.dart
  Application/mobile/app_code/lib/pages/contact/contact_state.dart
  Application/mobile/app_code/lib/pages/home/home_state.dart
  Application/mobile/app_code/lib/pages/login/login_state.dart
  Application/mobile/app_code/lib/pages/map/map_state.dart
  Application/mobile/app_code/lib/pages/profile/informations/informations_state.dart
  Application/mobile/app_code/lib/pages/signup/signup_state.dart
  Application/mobile/app_code/lib/utils/check_signin.dart
  Application/mobile/app_code/test/check_sign_in_test.dart
  Application/mobile/app_code/test/contact_test.dart
  Application/mobile/app_code/test/divider_test.dart
  Application/mobile/app_code/test/location_test.dart
  Application/mobile/app_code/test/profile_info_test.dart
Labels: front, mobile, test
