Repository H-chauvet/RISU, pull requests merged in 2024-04, with the labels that each got.

#283 271 mobile article category system
  Application/mobile/app_code/lib/l10n/app_en.arb
  Application/mobile/app_code/lib/l10n/app_fr.arb
  Application/mobile/app_code/lib/pages/article/article_list_data.dart
  Application/mobile/app_code/lib/pages/article/details_state.dart
  Application/mobile/app_code/test/article_list_data_test.dart
  Application/mobile/app_code/test/confirm_rent_test.dart
  Application/mobile/app_code/test/location_test.dart
  Server/app.js
  Server/assets/logo.png
  Server/controllers/Common/container.js
  Server/controllers/Common/itemCategory.js
  Server/controllers/Common/items.js
  Server/fixtures/mobile.js
  Server/invoice/createInvoice.js
  Server/prisma/schema.prisma
  Server/routes/Web/itemCategory.js
  Server/tests/web/itemCategory.test.js
Labels: Front, Back, Database, Mobile, Web, Test

#282 [MOBILE] Ticketing system
  Application/mobile/app_code/lib/components/text_input.dart
  Application/mobile/app_code/lib/l10n/app_en.arb
  Application/mobile/app_code/lib/l10n/app_fr.arb
  Application/mobile/app_code/lib/pages/contact/contact_page.dart
  Application/mobile/app_code/lib/pages/contact/contact_state.dart
  Application/mobile/app_code/lib/pages/contact/conversation_page.dart
  Application/mobile/app_code/lib/pages/contact/conversation_state.dart
  Application/mobile/app_code/lib/pages/contact/new_ticket_page.dart
  Application/mobile/app_code/lib/pages/contact/new_ticket_state.dart
  Application/mobile/app_code/lib/pages/rent/rental_state.dart
  Application/mobile/app_code/lib/utils/providers/language.dart
  Application/mobile/app_code/lib/utils/time.dart
  Application/mobile/app_code/test/contact_test.dart
  Application/mobile/app_code/test/conversation_test.dart
  Application/mobile/app_code/test/create_new_ticket_test.dart
  Application/mobile/app_code/test/profile_info_test.dart
  Application/mobile/app_code/test/time_test.dart
  Server/app.js
  Server/controllers/Common/tickets.js
  Server/controllers/Mobile/contact.js
  Server/docs/components.js
  Server/docs/paths/Mobile/contact/assignedId.js
  Server/docs/paths/Mobile/contact/chatUid.js
  Server/docs/paths/Mobile/contact/contact.js
  Server/docs/paths/Mobile/contact/tickets.js
  Server/docs/paths/index.js
  Server/prisma/schema.prisma
  Server/routes/Mobile/contact.js
  Server/routes/Mobile/tickets.js
  Server/tests/mobile/apiContactTicket.test.js
  Server/tests/mobile/contact.test.js
Labels: Documentation, Front, Back, Database, Mobile, Test

#290 [ADD] Link to organization during register
  Server/controllers/Web/user.js
  Server/prisma/schema.prisma
Labels: Back, Web

#287 275 web google maps in configuration process
  Configurateur/PoC/pocthreedim/pubspec.lock
  Configurateur/front/lib/app_routes.dart
  Configurateur/front/lib/main.dart
  Configurateur/front/lib/screens/container-creation/container_creation.dart
  Configurateur/front/lib/screens/container-creation/design_screen.dart
  Configurateur/front/lib/screens/container-creation/maps_screen.dart
  Configurateur/front/lib/screens/container-creation/payment_screen.dart
  Configurateur/front/lib/screens/container-creation/recap_screen.dart
  Configurateur/front/lib/screens/container-creation/shape_screen.dart
  Configurateur/front/lib/screens/login/login.dart
  Configurateur/front/lib/screens/profile/profile_page.dart
  Configurateur/front/lib/screens/register/register.dart
  Configurateur/front/macos/Flutter/GeneratedPluginRegistrant.swift
  Configurateur/front/pubspec.lock
  Configurateur/front/pubspec.yaml
  Configurateur/front/test/container-creation/maps_screen_test.dart
  Configurateur/front/web/index.html
  Configurateur/front/windows/flutter/generated_plugin_registrant.cc
  Configurateur/front/windows/flutter/generated_plugins.cmake
  Server/controllers/Common/container.js
  Server/docs/components.js
  Server/docs/paths/Web/container/updatePosition.js
  Server/docs/paths/index.js
  Server/fixtures/mobile.js
  Server/package-lock.json
  Server/prisma/schema.prisma
  Server/routes/Web/container.js
  Server/tests/web/container.test.js
Labels: Front, Back, Web

#227 [MOBILE] Map information
  Application/mobile/app_code/lib/components/showModalBottomSheet.dart
  Application/mobile/app_code/lib/l10n/app_en.arb
  Application/mobile/app_code/lib/l10n/app_fr.arb
  Application/mobile/app_code/lib/pages/article/article_list_data.dart
  Application/mobile/app_code/lib/pages/article/details_state.dart
  Application/mobile/app_code/lib/pages/article/list_state.dart
  Application/mobile/app_code/lib/pages/contact/contact_state.dart
  Application/mobile/app_code/lib/pages/container/container_list.dart
  Application/mobile/app_code/lib/pages/container/container_state.dart
  Application/mobile/app_code/lib/pages/container/details_state.dart
  Application/mobile/app_code/lib/pages/home/home_state.dart
  Application/mobile/app_code/lib/pages/login/login_state.dart
  Application/mobile/app_code/lib/pages/map/map_page.dart
  Application/mobile/app_code/lib/pages/map/map_state.dart
  Application/mobile/app_code/lib/pages/opinion/opinion_state.dart
  Application/mobile/app_code/lib/pages/profile/informations/informations_state.dart
  Application/mobile/app_code/lib/pages/rent/confirm/confirm_rent_state.dart
  Application/mobile/app_code/lib/pages/rent/rent_state.dart
  Application/mobile/app_code/lib/pages/rent/rental_state.dart
  Application/mobile/app_code/lib/pages/rent/return_state.dart
  Application/mobile/app_code/lib/pages/settings/settings_pages/notifications/notifications_state.dart
  Application/mobile/app_code/lib/pages/settings/settings_state.dart
  Application/mobile/app_code/lib/pages/signup/signup_state.dart
  Application/mobile/app_code/lib/utils/colors.dart
  Application/mobile/app_code/pubspec.lock
  Application/mobile/app_code/pubspec.yaml
  Application/mobile/app_code/run
  Application/mobile/app_code/test/container_test.dart
  Application/mobile/app_code/test/map_test.dart
Labels: Front, Mobile

#294 [FIX] Missing informations on fixtures and bad display in recap panel
  Configurateur/front/lib/components/recap_panel.dart
  Configurateur/front/lib/screens/container-creation/payment_screen.dart
  Configurateur/front/test/components/recap_panel_test.dart
  Configurateur/front/test/container-creation/design_screen_test.dart
  Configurateur/front/test/container-creation/payment_screen_test.dart
  Server/fixtures/mobile.js
Labels: Front, Web, BUG

#296 205 mobile show container on the map
  Application/mobile/app_code/lib/pages/container/container_list.dart
  Application/mobile/app_code/lib/pages/container/container_page.dart
  Application/mobile/app_code/lib/pages/container/container_state.dart
  Application/mobile/app_code/lib/pages/home/home_state.dart
  Application/mobile/app_code/lib/pages/map/map_page.dart
  Application/mobile/app_code/lib/pages/map/map_state.dart
  Application/mobile/app_code/test/container_test.dart
Labels: Front, Mobile

#295 212 mobile favorite articles
  Application/mobile/app_code/lib/components/appbar.dart
  Application/mobile/app_code/lib/l10n/app_en.arb
  Application/mobile/app_code/lib/l10n/app_fr.arb
  Application/mobile/app_code/lib/pages/article/details_state.dart
  Application/mobile/app_code/lib/pages/article/favorite/favorite_page.dart
  Application/mobile/app_code/lib/pages/article/favorite/favorite_state.dart
  Application/mobile/app_code/lib/pages/container/container_list.dart
  Application/mobile/app_code/lib/pages/profile/profile_state.dart
  Application/mobile/app_code/test/article_details_test.dart
  Application/mobile/app_code/test/favorite_test.dart
  Application/mobile/app_code/test/profile_test.dart
  Server/app.js
  Server/controllers/Mobile/favorites.js
  Server/docs/paths/Mobile/items/favorites/favorite.js
  Server/docs/paths/Mobile/items/favorites/myFavorites.js
  Server/docs/paths/index.js
  Server/prisma/schema.prisma
  Server/routes/Mobile/favorites.js
  Server/tests/mobile/favorites.test.js
Labels: Front, Back, Database, Mobile, Test

#303 Fix/container edition
  Configurateur/front/lib/components/dialog/container_dialog.dart
  Configurateur/front/lib/screens/container-creation/design_screen.dart
  Configurateur/front/test/components/dialog/container_dialog_test.dart
Labels: Front, Web, BUG

#306 [FIX] add refresh token in favorite.js
  Server/routes/Mobile/favorites.js
Labels: Back

#307 List of HotFix for FU2
  Application/mobile/app_code/lib/components/text_input.dart
  Application/mobile/app_code/lib/l10n/app_en.arb
  Application/mobile/app_code/lib/l10n/app_fr.arb
  Application/mobile/app_code/lib/pages/article/details_state.dart
  Application/mobile/app_code/lib/pages/article/favorite/favorite_state.dart
  Application/mobile/app_code/lib/pages/contact/contact_state.dart
  Application/mobile/app_code/lib/pages/contact/conversation_state.dart
  Application/mobile/app_code/lib/pages/contact/new_ticket_state.dart
  Application/mobile/app_code/lib/pages/rent/rental_state.dart
  Application/mobile/app_code/lib/pages/rent/return_state.dart
  Application/mobile/app_code/lib/utils/colors.dart
  Application/mobile/app_code/pubspec.lock
  Application/mobile/app_code/test/appbar_test.dart
  Application/mobile/app_code/test/confirm_rent_test.dart
  Server/routes/Mobile/tickets.js
  Server/tests/mobile/apiContactTicket.test.js
Labels: BUG

#301 300 mobile fixes
  Application/mobile/app_code/android/app/build.gradle
  Application/mobile/app_code/android/build.gradle
  Application/mobile/app_code/android/settings.gradle
  Application/mobile/app_code/lib/pages/container/container_list.dart
  Application/mobile/app_code/lib/pages/container/details_page.dart
  Application/mobile/app_code/lib/pages/container/details_state.dart
  Application/mobile/app_code/lib/pages/home/home_state.dart
  Application/mobile/app_code/lib/pages/settings/settings_pages/language/modal.dart
  Application/mobile/app_code/run
  Application/mobile/app_code/test/container_details_test.dart
  Server/controllers/Mobile/auth.js
  Server/controllers/Web/user.js
  Server/docs/servers.js
  Server/fixtures/mobile.js
  Server/package-lock.json
  Server/package.json
Labels: Front, Back, Database, Mobile, BUG

#308 [FIX] add fixtures, ticket naming, prisma typo
  Application/mobile/app_code/lib/pages/article/article_list_data.dart
  Application/mobile/app_code/lib/pages/opinion/opinion_state.dart
  Application/mobile/app_code/lib/pages/rent/rent_state.dart
  Application/mobile/app_code/test/article_list_data_test.dart
  Server/controllers/Mobile/auth.js
  Server/controllers/Mobile/opinion.js
  Server/fixtures/mobile.js
  Server/prisma/schema.prisma
  Server/tests/mobile/location.test.js
Labels: Front, Back, Database, Mobile, BUG

#310 [UPDATE] In the invoice, heures -> durée and add heures / heure
  Application/mobile/app_code/lib/pages/profile/profile_state.dart
  Server/controllers/Mobile/user.js
  Server/invoice/createInvoice.js
  Server/routes/Mobile/auth.js
Labels: Back, Mobile, BUG

#313 [FIX] Mail send invoice from location confirmation
  Application/mobile/app_code/lib/pages/rent/confirm/confirm_rent_page.dart
  Application/mobile/app_code/lib/pages/rent/confirm/confirm_rent_state.dart
  Application/mobile/app_code/lib/pages/rent/rent_state.dart
  Application/mobile/app_code/lib/pages/rent/return_state.dart
  Application/mobile/app_code/test/confirm_rent_test.dart
  Server/routes/Mobile/rent.js
Labels: Front, Back, Mobile, BUG

#315 Hot fix/cedric
  Configurateur/front/lib/screens/container-creation/design_screen.dart
  Configurateur/front/lib/screens/container-creation/payment_screen.dart
  Server/routes/Web/container.js
Labels: BUG

#316 Fix/henri
  Configurateur/front/lib/screens/container-list/container_list.dart
  Configurateur/front/lib/screens/container-list/container_web.dart
  Configurateur/front/lib/screens/container-list/item-list/item_component.dart
  Server/fixtures/mobile.js
Labels: BUG
