Repository H-chauvet/RISU, pull requests merged in 2024-02, with the labels that each got.

#196 Hotfix - Burger Menu
  Application/mobile/app_code/lib/components/appbar.dart
  Application/mobile/app_code/lib/pages/article/details_state.dart
  Application/mobile/app_code/lib/pages/article/list_state.dart
  Application/mobile/app_code/lib/pages/contact/contact_state.dart
  Application/mobile/app_code/lib/pages/container/details_state.dart
  Application/mobile/app_code/lib/pages/home/home_state.dart
  Application/mobile/app_code/lib/pages/login/login_state.dart
  Application/mobile/app_code/lib/pages/opinion/opinion_state.dart
  Application/mobile/app_code/lib/pages/profile/informations/informations_state.dart
  Application/mobile/app_code/lib/pages/rent/confirm/confirm_rent_state.dart
  Application/mobile/app_code/lib/pages/rent/rent_state.dart
  Application/mobile/app_code/lib/pages/rent/rental_state.dart
  Application/mobile/app_code/lib/pages/rent/return_state.dart
  Application/mobile/app_code/lib/pages/settings/settings_pages/notifications/notifications_state.dart
  Application/mobile/app_code/lib/pages/settings/settings_state.dart
  Application/mobile/app_code/lib/pages/signup/signup_state.dart
  Application/mobile/app_code/test/appbar_test.dart
Labels: Front, Mobile, Test

#197 Hotfix - Tests improvements
  Application/mobile/app_code/test/container_details_test.dart
  Application/mobile/app_code/test/globals.dart
  Application/mobile/app_code/test/opinion_test.dart
  Application/mobile/app_code/test/profile_info_test.dart
  Application/mobile/app_code/test/rentals_test.dart
Labels: Mobile, Test

#215 Mobile bugs
  Application/mobile/app_code/android/build.gradle
  Application/mobile/app_code/lib/components/appbar.dart
  Application/mobile/app_code/lib/components/parameter.dart
  Application/mobile/app_code/lib/pages/article/details_state.dart
  Application/mobile/app_code/lib/pages/article/list_state.dart
  Application/mobile/app_code/lib/pages/contact/contact_state.dart
  Application/mobile/app_code/lib/pages/container/container_state.dart
  Application/mobile/app_code/lib/pages/container/details_state.dart
  Application/mobile/app_code/lib/pages/home/home_state.dart
  Application/mobile/app_code/lib/pages/login/login_state.dart
  Application/mobile/app_code/lib/pages/opinion/opinion_state.dart
  Application/mobile/app_code/lib/pages/profile/informations/informations_state.dart
  Application/mobile/app_code/lib/pages/profile/profile_state.dart
  Application/mobile/app_code/lib/pages/rent/rent_state.dart
  Application/mobile/app_code/lib/pages/rent/rental_state.dart
  Application/mobile/app_code/lib/pages/rent/return_state.dart
  Application/mobile/app_code/lib/pages/settings/settings_pages/notifications/notifications_state.dart
  Application/mobile/app_code/lib/pages/settings/settings_state.dart
  Application/mobile/app_code/lib/pages/signup/signup_state.dart
  Application/mobile/app_code/lib/utils/user_data.dart
  Application/mobile/app_code/pubspec.lock
  Application/mobile/app_code/run
  Application/mobile/app_code/test/appbar_test.dart
Labels: Front, Mobile

#218 [ADD] add third theme : 'Système'
  Application/mobile/app_code/lib/main.dart
  Application/mobile/app_code/lib/pages/rent/rent_state.dart
  Application/mobile/app_code/lib/pages/settings/settings_pages/theme/theme_settings_page.dart
  Application/mobile/app_code/lib/utils/providers/theme.dart
  Application/mobile/app_code/test/globals.dart
  Application/mobile/app_code/test/theme_test.dart
Labels: Mobile

#226 [ADD] initPage + space between tests
  Application/mobile/app_code/test/theme_test.dart
Labels: Mobile, Test
