Repository H-chauvet/RISU, pull requests merged in 2024-05, with the labels that each got.

#321 262 web redesign the home page
  Configurateur/front/assets/containerrisu.png
  Configurateur/front/assets/iphonenew.png
  Configurateur/front/assets/logonew.png
  Configurateur/front/fonts/Rozha.ttf
  Configurateur/front/lib/app_routes.dart
  Configurateur/front/lib/components/custom_footer.dart
  Configurateur/front/lib/components/custom_header.dart
  Configurateur/front/lib/components/google.dart
  Configurateur/front/lib/network/informations.dart
  Configurateur/front/lib/screens/admin/admin.dart
  Configurateur/front/lib/screens/contact/contact.dart
  Configurateur/front/lib/screens/landing-page/landing_page.dart
  Configurateur/front/lib/screens/login/login.dart
  Configurateur/front/lib/screens/password-recuperation/password-recuperation.dart
  Configurateur/front/lib/screens/profile/profile_page.dart
  Configurateur/front/lib/screens/register/register.dart
  Configurateur/front/lib/styles/themes.dart
  Configurateur/front/macos/Flutter/GeneratedPluginRegistrant.swift
  Configurateur/front/pubspec.lock
  Configurateur/front/pubspec.yaml
  Configurateur/front/test/admin_test.dart
  Configurateur/front/test/landing_page_test.dart
  Configurateur/front/test/login_test.dart
  Configurateur/front/test/register_test.dart
  Server/index.js
Labels: Front, Web, Test

#324 [MOBILE] Handling of deleted data
  Application/mobile/app_code/lib/pages/opinion/opinion_state.dart
  Server/controllers/Common/tickets.js
  Server/controllers/Mobile/cleandata.js
  Server/controllers/Mobile/favorites.js
  Server/controllers/Mobile/rent.js
  Server/controllers/Mobile/user.js
  Server/fixtures/mobile.js
  Server/prisma/schema.prisma
  Server/routes/Mobile/user.js
  Server/tests/mobile/apiUser.test.js
  Server/tests/mobile/location.test.js
Labels: Back, Database, BUG

#325 323 web users roles
  Configurateur/front/lib/components/alert_dialog.dart
  Configurateur/front/lib/components/custom_header.dart
  Configurateur/front/lib/services/storage_service.dart
  Configurateur/front/pubspec.lock
  Configurateur/front/test/pop-up_test.dart
  Server/fixtures/web.js
  Server/middleware/jwt.js
  Server/prisma/schema.prisma
Labels: Back, Web

#320 293 article filters
  Application/mobile/app_code/lib/l10n/app_en.arb
  Application/mobile/app_code/lib/l10n/app_fr.arb
  Application/mobile/app_code/lib/main.dart
  Application/mobile/app_code/lib/pages/article/article_filters_page.dart
  Application/mobile/app_code/lib/pages/article/article_filters_state.dart
  Application/mobile/app_code/lib/pages/article/list_state.dart
  Application/mobile/app_code/test/article_filters_test.dart
  Server/controllers/Common/container.js
  Server/controllers/Common/itemCategory.js
  Server/controllers/Mobile/opinion.js
  Server/docs/paths/Mobile/container/articleList.js
  Server/fixtures/mobile.js
  Server/prisma/schema.prisma
  Server/routes/Mobile/containers.js
  Server/routes/Web/itemCategory.js
  Server/tests/mobile/apiContainer.test.js
  Server/tests/web/itemCategory.test.js
Labels: Back, Database, Mobile, Test

#311 302 mobile rework UI signinsignup
  Application/mobile/app_code/lib/components/burger_drawer.dart
  Application/mobile/app_code/lib/components/parameter.dart
  Application/mobile/app_code/lib/components/text_input.dart
  Application/mobile/app_code/lib/l10n/app_en.arb
  Application/mobile/app_code/lib/l10n/app_fr.arb
  Application/mobile/app_code/lib/main.dart
  Application/mobile/app_code/lib/pages/login/ask_reset_password/ask_reset_password_page.dart
  Application/mobile/app_code/lib/pages/login/ask_reset_password/ask_reset_password_state.dart
  Application/mobile/app_code/lib/pages/login/login_state.dart
  Application/mobile/app_code/lib/pages/profile/informations/informations_state.dart
  Application/mobile/app_code/lib/pages/profile/profile_state.dart
  Application/mobile/app_code/lib/pages/reset_password/reset_password_page.dart
  Application/mobile/app_code/lib/pages/reset_password/reset_password_state.dart
  Application/mobile/app_code/lib/pages/settings/settings_state.dart
  Application/mobile/app_code/lib/pages/signup/signup_state.dart
  Application/mobile/app_code/lib/utils/colors.dart
  Application/mobile/app_code/pubspec.lock
  Application/mobile/app_code/test/ask_reset_password_test.dart
  Application/mobile/app_code/test/login_test.dart
  Application/mobile/app_code/test/signup_test.dart
  Server/controllers/Mobile/user.js
  Server/middleware/Mobile/jwt.js
  Server/prisma/schema.prisma
  Server/routes/Mobile/user.js
Labels: Front, Mobile

#327 [ADD] Company profil in drop down button
  Configurateur/front/lib/components/custom_header.dart
Labels: Front, Web

#331 [ADD] More unit tests for container save
  Configurateur/front/lib/screens/save_container/my_container.dart
  Configurateur/front/test/my_container_test.dart
Labels: Test

#333 Feature/web documentation
  Configurateur/front/lib/app_routes.dart
  Configurateur/front/lib/components/alert_dialog.dart
  Configurateur/front/lib/components/container.dart
  Configurateur/front/lib/components/custom_app_bar.dart
  Configurateur/front/lib/components/custom_footer.dart
  Configurateur/front/lib/components/custom_header.dart
  Configurateur/front/lib/components/dialog/add_design_dialog.dart
  Configurateur/front/lib/components/dialog/autofill_dialog.dart
  Configurateur/front/lib/components/dialog/container_dialog.dart
  Configurateur/front/lib/components/dialog/delete_container_dialog.dart
  Configurateur/front/lib/components/dialog/rating_dialog_content/rating_dialog_content.dart
  Configurateur/front/lib/components/dialog/remove_design_dialog.dart
  Configurateur/front/lib/components/dialog/save_dialog.dart
  Configurateur/front/lib/components/footer.dart
  Configurateur/front/lib/components/items-information.dart
  Configurateur/front/lib/components/progress_bar.dart
  Configurateur/front/lib/components/recap_panel/recap_panel.dart
  Configurateur/front/lib/main.dart
  Configurateur/front/lib/network/informations.dart
  Configurateur/front/lib/screens/admin/admin.dart
  Configurateur/front/lib/screens/company-profil/company-profil.dart
  Configurateur/front/lib/screens/company-profil/container-profil.dart
  Configurateur/front/lib/screens/company/company.dart
  Configurateur/front/lib/screens/company/container-company.dart
  Configurateur/front/lib/screens/confidentiality/confidentiality.dart
  Configurateur/front/lib/screens/contact/contact.dart
  Configurateur/front/lib/screens/container-creation/confirmation_screen/confirmation_screen.dart
  Configurateur/front/lib/screens/container-creation/container_creation/container_creation.dart
  Configurateur/front/lib/screens/container-creation/design_screen/design_screen.dart
  Configurateur/front/lib/screens/container-creation/maps_screen/maps_screen.dart
  Configurateur/front/lib/screens/container-creation/payment_screen/payment_screen.dart
  Configurateur/front/lib/screens/container-creation/recap_screen/recap_screen.dart
  Configurateur/front/lib/screens/container-creation/shape_screen/shape_screen.dart
  Configurateur/front/lib/screens/container-list/container_list.dart
  Configurateur/front/lib/screens/feedbacks/feedbacks.dart
  Configurateur/front/lib/screens/feedbacks/feedbacks_card.dart
  Configurateur/front/lib/screens/landing-page/landing_page.dart
  Configurateur/front/lib/screens/login/login.dart
  Configurateur/front/lib/screens/messages/messages.dart
  Configurateur/front/lib/screens/messages/messages_card.dart
  Configurateur/front/lib/screens/password-recuperation/password_change.dart
  Configurateur/front/lib/screens/profile/profile_page.dart
  Configurateur/front/lib/screens/recap-config/recap_config.dart
  Configurateur/front/lib/screens/register-confirmation/confirmed_user.dart
  Configurateur/front/lib/screens/register-confirmation/register_confirmation.dart
  Configurateur/front/lib/screens/register/register.dart
  Configurateur/front/lib/screens/save_container/confirmation_save.dart
  Configurateur/front/lib/screens/save_container/my_container.dart
  Configurateur/front/lib/screens/user-list/user-component-web.dart
  Configurateur/front/lib/screens/user-list/user-component.dart
  Configurateur/front/lib/screens/user-list/user_list.dart
  Configurateur/front/lib/services/http_service.dart
  Configurateur/front/lib/services/locker_service.dart
  Configurateur/front/lib/services/payment_service.dart
  Configurateur/front/lib/services/storage_service.dart
  Configurateur/front/lib/services/theme_service.dart
  Configurateur/front/lib/styles/themes.dart
  Configurateur/front/test/company_profil_test.dart
  Configurateur/front/test/components/item_information_test.dart
Labels: Documentation, Front, Web

#326 270 mobile similar articles
  Application/mobile/app_code/lib/l10n/app_en.arb
  Application/mobile/app_code/lib/l10n/app_fr.arb
  Application/mobile/app_code/lib/pages/article/details_page.dart
  Application/mobile/app_code/lib/pages/article/details_state.dart
  Application/mobile/app_code/test/article_details_test.dart
  Application/mobile/app_code/test/globals.dart
  Application/mobile/app_code/test/opinion_test.dart
  Server/controllers/Common/container.js
  Server/controllers/Common/items.js
  Server/docs/paths/Mobile/items/similarItems.js
  Server/docs/paths/index.js
  Server/routes/Mobile/items.js
  Server/tests/mobile/apiArticle.test.js
Labels: Back, Mobile, Test

#334 Unit testing/mobile front/hugo
  Application/mobile/app_code/lib/pages/article/favorite/favorite_page.dart
  Application/mobile/app_code/lib/pages/article/favorite/favorite_state.dart
  Application/mobile/app_code/lib/pages/opinion/opinion_page.dart
  Application/mobile/app_code/lib/pages/opinion/opinion_state.dart
  Application/mobile/app_code/test/favorite_test.dart
  Application/mobile/app_code/test/opinion_test.dart
Labels: Mobile, Test

#329 206 mobile rework container list
  Application/mobile/app_code/lib/l10n/app_en.arb
  Application/mobile/app_code/lib/l10n/app_fr.arb
  Application/mobile/app_code/lib/pages/container/container_list_data.dart
  Application/mobile/app_code/lib/pages/container/container_page.dart
  Application/mobile/app_code/lib/pages/container/container_state.dart
  Application/mobile/app_code/lib/pages/map/map_state.dart
  Application/mobile/app_code/pubspec.yaml
  Application/mobile/app_code/test/container_test.dart
  Server/controllers/Mobile/container.js
  Server/routes/Mobile/containers.js
Labels: Front, Mobile, Test

#322 Web Ticketing System
  .gitignore
  Application/mobile/app_code/test/globals.dart
  Application/mobile/app_code/test/opinion_test.dart
  Configurateur/front/Dockerfile
  Configurateur/front/lib/components/tickets_page.dart
  Configurateur/front/lib/network/informations.dart
  Configurateur/front/lib/screens/contact/contact.dart
  Configurateur/front/lib/screens/contact/contact_style.dart
  Configurateur/front/lib/screens/messages/messages.dart
  Configurateur/front/lib/screens/messages/messages_card.dart
  Configurateur/front/lib/screens/profile/profile_page.dart
  Configurateur/front/lib/services/storage_service.dart
  Configurateur/front/lib/styles/themes.dart
  Configurateur/front/pubspec.lock
  Configurateur/front/pubspec.yaml
  Configurateur/front/test/contact_form_test.dart
  Configurateur/front/test/message_page_test.dart
  Configurateur/front/test/messages_card_test.dart
  Configurateur/front/test/profile_page_test.dart
  Configurateur/front/test/ticket_page_test.dart
  Server/app.js
  Server/controllers/Common/tickets.js
  Server/controllers/Web/contact.js
  Server/controllers/Web/messages.js
  Server/docs/components.js
  Server/docs/paths/Web/contact/contact.js
  Server/docs/paths/Web/messages/delete.js
  Server/docs/paths/Web/messages/list.js
  Server/docs/paths/Web/tickets/allTickets.js
  Server/docs/paths/Web/tickets/assign.js
  Server/docs/paths/Web/tickets/create.js
  Server/docs/paths/Web/tickets/userTicket.js
  Server/docs/paths/index.js
  Server/fixtures/web.js
  Server/middleware/jwt.js
  Server/package-lock.json
  Server/prisma/schema.prisma
  Server/routes/Web/contact.js
  Server/routes/Web/messages.js
  Server/routes/Web/tickets.js
  Server/tests/web/contact.test.js
  Server/tests/web/messages.test.js
  Server/tests/web/tickets.test.js
Labels: Front, Back, Database, Web, Test

#338 Increase coverage on unit test
  Application/mobile/app_code/lib/pages/article/details_page.dart
  Application/mobile/app_code/lib/pages/article/details_state.dart
  Application/mobile/app_code/lib/pages/article/list_page.dart
  Application/mobile/app_code/lib/pages/article/list_state.dart
  Application/mobile/app_code/lib/pages/contact/conversation_state.dart
  Application/mobile/app_code/test/article_details_test.dart
  Application/mobile/app_code/test/article_list_test.dart
  Application/mobile/app_code/test/container_test.dart
  Application/mobile/app_code/test/conversation_test.dart
  Application/mobile/app_code/test/globals.dart
  Application/mobile/app_code/test/home_test.dart
  Application/mobile/app_code/test/opinion_test.dart
  Application/mobile/app_code/test/profile_info_test.dart
  Application/mobile/app_code/test/setting_test.dart
Labels: Mobile, Test

#343 Hotfix/Mobile
  Application/mobile/app_code/lib/pages/article/article_list_data.dart
  Application/mobile/app_code/lib/pages/article/list_state.dart
  Application/mobile/app_code/lib/pages/container/container_state.dart
  Application/mobile/app_code/lib/pages/rent/rental_page.dart
  Application/mobile/app_code/lib/pages/rent/rental_state.dart
  Application/mobile/app_code/lib/pages/rent/return_page.dart
  Application/mobile/app_code/lib/pages/rent/return_state.dart
  Application/mobile/app_code/test/rent_return_test.dart
  Application/mobile/app_code/test/rent_test.dart
  Application/mobile/app_code/test/rentals_test.dart
  Server/fixtures/web.js
  Server/routes/Mobile/containers.js
Labels: Front, Back, Mobile, Test, BUG

#342 293 article filters
  Application/mobile/app_code/lib/l10n/app_en.arb
  Application/mobile/app_code/lib/l10n/app_fr.arb
  Application/mobile/app_code/lib/pages/article/article_filters_page.dart
  Application/mobile/app_code/lib/pages/article/article_filters_state.dart
  Application/mobile/app_code/lib/pages/article/article_list_data.dart
  Application/mobile/app_code/lib/pages/article/list_state.dart
  Server/controllers/Common/container.js
  Server/prisma/schema.prisma
  Server/routes/Mobile/containers.js
Labels: Front, Back, Mobile, BUG

#349 Hotfix/mobile
  Application/mobile/app_code/assets/football.jpg
  Application/mobile/app_code/assets/freesbee.jpg
  Application/mobile/app_code/assets/raquette.jpg
  Application/mobile/app_code/lib/pages/article/article_list_data.dart
  Application/mobile/app_code/lib/pages/article/details_state.dart
  Application/mobile/app_code/lib/pages/article/favorite/favorite_state.dart
  Application/mobile/app_code/lib/pages/article/list_state.dart
  Application/mobile/app_code/lib/pages/contact/contact_state.dart
  Application/mobile/app_code/lib/pages/contact/conversation_state.dart
  Application/mobile/app_code/lib/pages/contact/new_ticket_state.dart
  Application/mobile/app_code/lib/pages/container/container_list_data.dart
  Application/mobile/app_code/lib/pages/container/container_state.dart
  Application/mobile/app_code/lib/pages/login/ask_reset_password/ask_reset_password_state.dart
  Application/mobile/app_code/lib/pages/login/login_state.dart
  Application/mobile/app_code/lib/pages/map/map_state.dart
  Application/mobile/app_code/lib/pages/opinion/opinion_state.dart
  Application/mobile/app_code/lib/pages/profile/informations/informations_state.dart
  Application/mobile/app_code/lib/pages/profile/profile_state.dart
  Application/mobile/app_code/lib/pages/rent/confirm/confirm_rent_state.dart
  Application/mobile/app_code/lib/pages/rent/rent_state.dart
  Application/mobile/app_code/lib/pages/rent/rental_state.dart
  Application/mobile/app_code/lib/pages/rent/return_state.dart
  Application/mobile/app_code/lib/pages/reset_password/reset_password_state.dart
  Application/mobile/app_code/lib/pages/settings/settings_pages/notifications/notifications_state.dart
  Application/mobile/app_code/lib/pages/settings/settings_state.dart
  Application/mobile/app_code/lib/pages/signup/signup_state.dart
  Application/mobile/app_code/lib/utils/colors.dart
  Application/mobile/app_code/lib/utils/image_loader.dart
  Application/mobile/app_code/pubspec.yaml
  Application/mobile/app_code/test/language_test.dart
  Server/controllers/Mobile/auth.js
  Server/fixtures/mobile.js
  Server/fixtures/web.js
  Server/routes/Mobile/user.js
  Server/tests/mobile/apiResetPassword.test.js
  Server/tests/mobile/apiUser.test.js
Labels: Front, Back, Mobile, BUG

#351 [ADD] translation + fix getSimilarArticles
  Application/mobile/app_code/lib/pages/article/details_state.dart
Labels: Mobile, BUG
