Repository H-chauvet/RISU, pull requests merged in 2024-11, with the labels that each got.

#480 479 mobile rent limit
  Application/mobile/app_code/lib/pages/rent/rent_state.dart
  Server/locales/en.json
  Server/locales/fr.json
  Server/routes/Mobile/rent.js
Labels: Mobile

#487 [ADD] Change languages in the database
  Application/mobile/app_code/lib/pages/login/login_state.dart
  Application/mobile/app_code/lib/pages/settings/settings_pages/language/modal.dart
  Application/mobile/app_code/lib/utils/user_data.dart
  Configurateur/front/lib/components/custom_header.dart
  Configurateur/front/lib/screens/login/login.dart
  Server/controllers/Mobile/user.js
  Server/controllers/Web/user.js
  Server/routes/Web/user.js
  Server/tests/web/user.test.js
Labels: Back, Mobile, Web

#493 [Mobile] Animations
  Application/mobile/app_code/lib/components/staggered_list.dart
  Application/mobile/app_code/lib/globals.dart
  Application/mobile/app_code/lib/pages/article/favorite/favorite_state.dart
  Application/mobile/app_code/lib/pages/article/list_state.dart
  Application/mobile/app_code/lib/pages/contact/contact_state.dart
  Application/mobile/app_code/lib/pages/contact/conversation_state.dart
  Application/mobile/app_code/lib/pages/container/container_state.dart
  Application/mobile/app_code/lib/pages/rent/rentals/rentals_state.dart
Labels: Front, Mobile, Test

#482 481 mobile show placeholder instead of no image when loading
  Application/mobile/app_code/assets/image_placeholder.png
  Application/mobile/app_code/assets/no_image.png
  Application/mobile/app_code/lib/pages/article/details_state.dart
  Application/mobile/app_code/lib/utils/image_loader.dart
Labels: Front, Mobile

#444 WEB - Password fields rework
  Configurateur/front/analysis_options.yaml
  Configurateur/front/lib/app_routes.dart
  Configurateur/front/lib/components/custom_footer.dart
  Configurateur/front/lib/components/custom_header.dart
  Configurateur/front/lib/components/custom_popup.dart
  Configurateur/front/lib/components/dialog/delete_container_dialog.dart
  Configurateur/front/lib/components/pw_validator_strings.dart
  Configurateur/front/lib/l10n/app_en.arb
  Configurateur/front/lib/l10n/app_fr.arb
  Configurateur/front/lib/screens/company-profil/container-profil.dart
  Configurateur/front/lib/screens/company-profil/object-creation.dart
  Configurateur/front/lib/screens/landing-page/landing_page.dart
  Configurateur/front/lib/screens/login/login.dart
  Configurateur/front/lib/screens/not-found/not_found.dart
  Configurateur/front/lib/screens/password-recuperation/password_change.dart
  Configurateur/front/lib/screens/password-recuperation/password_recuperation.dart
  Configurateur/front/lib/screens/profile/profile_page.dart
  Configurateur/front/lib/screens/register/register.dart
  Configurateur/front/lib/screens/register/register_style.dart
  Configurateur/front/lib/screens/save_container/my_container.dart
  Configurateur/front/pubspec.yaml
  Configurateur/front/test/feedbacks_page_test.dart
  Configurateur/front/test/messages_test.dart
  Configurateur/front/test/my_container_test.dart
  Configurateur/front/test/password_change_test.dart
  Configurateur/front/test/password_recuperation_test.dart
  Configurateur/front/test/register_test.dart
  Configurateur/front/web/icons/logo_192.png
  Configurateur/front/web/icons/logo_192_maskable.png
  Configurateur/front/web/icons/logo_512.png
  Configurateur/front/web/icons/logo_512_maskable.png
  Configurateur/front/web/index.html
  Configurateur/front/web/logo.png
  Configurateur/front/web/manifest.json
  Server/locales/en.json
  Server/locales/fr.json
Labels: Front, Test

#497 [ADD] Landing page web for mobile
  Configurateur/front/lib/l10n/app_en.arb
  Configurateur/front/lib/l10n/app_fr.arb
  Configurateur/front/lib/screens/landing-page/landing_page.dart
  Configurateur/front/test/landing_page_test.dart
Labels: Front, Web, Test

#495 Translation for the FAQ's page
  Configurateur/front/lib/l10n/app_en.arb
  Configurateur/front/lib/l10n/app_fr.arb
  Configurateur/front/lib/screens/faq/faq.dart
  Configurateur/front/test/faq_test.dart
Labels: Front, Web

#503 [FIX] Deeplinks works
  Application/mobile/app_code/android/app/build.gradle
  Application/mobile/app_code/android/app/src/main/AndroidManifest.xml
  Application/mobile/app_code/lib/utils/share_deeplink.dart
  Server/controllers/Mobile/auth.js
Labels: Mobile, BUG

#504 [ADD] Colors update for dark theme
  Application/mobile/app_code/lib/components/alert_dialog.dart
  Application/mobile/app_code/lib/components/parameter.dart
  Application/mobile/app_code/lib/pages/article/article_list_data.dart
  Application/mobile/app_code/lib/pages/article/details_state.dart
  Application/mobile/app_code/lib/pages/container/container_list_data.dart
  Application/mobile/app_code/lib/pages/container/container_state.dart
  Application/mobile/app_code/lib/pages/faq/faq_state.dart
  Application/mobile/app_code/lib/pages/opinion/opinion_state.dart
  Application/mobile/app_code/lib/pages/rent/confirm/confirm_rent_state.dart
Labels: Mobile

#502 498 mobile server book an article
  Application/mobile/app_code/lib/l10n/app_en.arb
  Application/mobile/app_code/lib/l10n/app_es.arb
  Application/mobile/app_code/lib/l10n/app_fr.arb
  Application/mobile/app_code/lib/pages/rent/confirm/confirm_rent_page.dart
  Application/mobile/app_code/lib/pages/rent/confirm/confirm_rent_state.dart
  Application/mobile/app_code/lib/pages/rent/rent_state.dart
  Application/mobile/app_code/lib/utils/errors.dart
  Application/mobile/app_code/pubspec.yaml
  Application/mobile/app_code/test/confirm_rent_test.dart
  Server/controllers/Mobile/rent.js
  Server/prisma/schema.prisma
  Server/routes/Mobile/rent.js
  Server/routes/Web/items.js
  Server/tests/mobile/rent.test.js
Labels: Front, Back, Database, Mobile

#518 Tanguy/hotfix
  Application/mobile/app_code/lib/l10n/app_en.arb
  Application/mobile/app_code/lib/l10n/app_es.arb
  Application/mobile/app_code/lib/l10n/app_fr.arb
  Application/mobile/app_code/lib/pages/article/details_state.dart
  Application/mobile/app_code/lib/pages/article/list_state.dart
  Application/mobile/app_code/lib/pages/faq/faq_state.dart
  Application/mobile/app_code/lib/pages/home/home_state.dart
  Application/mobile/app_code/lib/pages/rent/rent_state.dart
  Application/mobile/app_code/lib/pages/team/team_state.dart
  Application/mobile/app_code/lib/utils/errors.dart
Labels: Front, Mobile, BUG

#517 HOTFIX WEB
  Configurateur/front/assets/containerrisu.png
  Configurateur/front/lib/components/custom_footer.dart
  Configurateur/front/lib/components/custom_header.dart
  Configurateur/front/lib/components/dialog/handle_member/handle_member.dart
  Configurateur/front/lib/l10n/app_en.arb
  Configurateur/front/lib/l10n/app_fr.arb
  Configurateur/front/lib/screens/company-profil/company-profil.dart
  Configurateur/front/lib/screens/company-profil/object-creation.dart
  Configurateur/front/lib/screens/confidentiality/confidentiality.dart
  Configurateur/front/lib/screens/container-creation/confirmation_screen/confirmation_screen.dart
  Configurateur/front/lib/screens/container-creation/container_creation/container_creation.dart
  Configurateur/front/lib/screens/container-creation/design_screen/design_screen.dart
  Configurateur/front/lib/screens/container-creation/maps_screen/maps_screen.dart
  Configurateur/front/lib/screens/container-creation/payment_screen/payment_screen.dart
  Configurateur/front/lib/screens/container-creation/recap_screen/recap_screen.dart
  Configurateur/front/lib/screens/container-creation/shape_screen/shape_screen.dart
  Configurateur/front/lib/screens/container-list/container_list.dart
  Configurateur/front/lib/screens/faq/faq.dart
  Configurateur/front/lib/screens/login/login.dart
  Configurateur/front/lib/screens/profile/profile_page.dart
  Configurateur/front/lib/screens/register-confirmation/confirmed_user.dart
  Configurateur/front/lib/screens/register/register.dart
  Configurateur/front/lib/screens/save_container/my_container.dart
  Configurateur/front/lib/screens/user-list/user_list.dart
  Configurateur/front/test/components/dialog/handle_member_test.dart
  Configurateur/front/test/login_test.dart
  Configurateur/front/test/messages_test.dart
  Configurateur/front/test/register_test.dart
  Server/controllers/Web/user.js
  Server/fixtures/mobile.js
Labels: Front, Back, Web, Test, BUG

#509 Hugo/hotfix
  Application/mobile/app_code/lib/components/parameter.dart
  Application/mobile/app_code/lib/l10n/app_en.arb
  Application/mobile/app_code/lib/l10n/app_es.arb
  Application/mobile/app_code/lib/l10n/app_fr.arb
  Application/mobile/app_code/lib/pages/article/favorite/favorite_state.dart
  Application/mobile/app_code/lib/pages/faq/faq_state.dart
  Application/mobile/app_code/lib/pages/home/home_state.dart
  Application/mobile/app_code/lib/pages/rent/confirm/confirm_rent_state.dart
  Application/mobile/app_code/lib/pages/rent/rentals/rentals_list_card.dart
  Server/fixtures/mobile.js
  Server/prisma/schema.prisma
  Server/routes/Mobile/containers.js
Labels: Mobile

#507 456 mobile send notification to user
  Application/mobile/app_code/android/app/build.gradle
  Application/mobile/app_code/android/app/google-services.json
  Application/mobile/app_code/android/settings.gradle
  Application/mobile/app_code/firebase.json
  Application/mobile/app_code/lib/firebase_options.dart
  Application/mobile/app_code/lib/main.dart
  Application/mobile/app_code/lib/pages/home/home_page.dart
  Application/mobile/app_code/lib/pages/home/home_state.dart
  Application/mobile/app_code/macos/Flutter/GeneratedPluginRegistrant.swift
  Application/mobile/app_code/pubspec.yaml
  Application/mobile/app_code/test/confirm_rent_test.dart
  Application/mobile/app_code/test/home_test.dart
  Application/mobile/app_code/windows/flutter/generated_plugin_registrant.cc
  Application/mobile/app_code/windows/flutter/generated_plugins.cmake
Labels: Front, Mobile

#525 [FIX] Bug with bottom nav bar index
  Application/mobile/app_code/lib/components/bottomnavbar.dart
  Application/mobile/app_code/lib/pages/home/home_state.dart
  Application/mobile/app_code/test/bottomnavbar_test.dart
Labels: Front, Mobile, Test, BUG

#527 [FIX] Link to reset password
  Server/controllers/Mobile/cleandata.js
  Server/controllers/Mobile/user.js
Labels: Back, BUG

#528 [ADD] Check imagesUrl null
  Application/mobile/app_code/lib/pages/rent/rent_state.dart
  Application/mobile/app_code/test/rent_test.dart
  Server/fixtures/mobile.js
Labels: Front, Mobile, BUG
