Repository H-chauvet/RISU, pull requests merged in 2024-03, with the labels that each got.

#263 Nginx implementation
  Application/mobile/app_code/lib/components/burger_drawer.dart
  Application/mobile/app_code/lib/globals.dart
  Application/mobile/app_code/lib/pages/article/details_state.dart
  Application/mobile/app_code/lib/pages/article/list_state.dart
  Application/mobile/app_code/lib/pages/contact/contact_state.dart
  Application/mobile/app_code/lib/pages/container/container_state.dart
  Application/mobile/app_code/lib/pages/container/details_state.dart
  Application/mobile/app_code/lib/pages/login/login_state.dart
  Application/mobile/app_code/lib/pages/opinion/opinion_state.dart
  Application/mobile/app_code/lib/pages/profile/informations/informations_state.dart
  Application/mobile/app_code/lib/pages/rent/rent_state.dart
  Application/mobile/app_code/lib/pages/rent/rental_state.dart
  Application/mobile/app_code/lib/pages/rent/return_state.dart
  Application/mobile/app_code/lib/pages/settings/settings_pages/notifications/notifications_state.dart
  Application/mobile/app_code/lib/pages/settings/settings_state.dart
  Application/mobile/app_code/lib/pages/signup/signup_state.dart
Labels: Front, Back, Mobile, Web

#238 Feature/invoice location confirmation
  Application/mobile/app_code/lib/l10n/app_en.arb
  Application/mobile/app_code/lib/l10n/app_fr.arb
  Application/mobile/app_code/lib/pages/rent/confirm/confirm_rent_state.dart
  Application/mobile/app_code/lib/pages/rent/return_state.dart
  Application/mobile/app_code/test/confirm_rent_test.dart
  Application/mobile/app_code/test/rent_return_test.dart
  Server/controllers/Mobile/rent.js
  Server/invoice/createInvoice.js
  Server/invoice/invoiceUtils.js
  Server/invoice/rentUtils.js
  Server/logo.png
  Server/package.json
  Server/prisma/schema.prisma
  Server/routes/Mobile/rent.js
  Server/tests/mobile/location.test.js
  Server/tests/mobile/utils.test.js
Labels: Back, Database, Mobile, Test

#273 Custom shape screen
  Configurateur/front/lib/app_routes.dart
  Configurateur/front/lib/screens/container-creation/container_creation.dart
  Configurateur/front/lib/screens/container-creation/design_screen.dart
  Configurateur/front/lib/screens/container-creation/payment_screen.dart
  Configurateur/front/lib/screens/container-creation/recap_screen.dart
  Configurateur/front/lib/screens/container-creation/shape_screen.dart
  Configurateur/front/lib/screens/landing-page/landing_page.dart
  Configurateur/front/test/container-creation/container_creation_test.dart
  Configurateur/front/test/container-creation/shape_screen_test.dart
Labels: Front, Web

#280 Fix bugs of FU1
  Configurateur/front/lib/components/dialog/container_dialog.dart
  Configurateur/front/lib/components/interactive_panel.dart
  Configurateur/front/lib/screens/container-creation/container_creation.dart
  Configurateur/front/lib/screens/container-creation/shape_screen.dart
  Configurateur/front/test/components/dialog/container_dialog_test.dart
  Configurateur/front/test/components/interactive_panel_test.dart
Labels: Front, Web, BUG
