Repository H-chauvet/RISU, pull requests merged in 2024-09, with the labels that each got.

#407 402 web global error handling
  Configurateur/front/lib/components/custom_header.dart
  Configurateur/front/lib/components/dialog/rating_dialog_content/rating_dialog_content.dart
  Configurateur/front/lib/components/google/google.dart
  Configurateur/front/lib/components/tickets_page.dart
  Configurateur/front/lib/screens/company-profil/company-profil.dart
  Configurateur/front/lib/screens/company-profil/container-profil.dart
  Configurateur/front/lib/screens/company/company.dart
  Configurateur/front/lib/screens/container-creation/container_creation/container_creation.dart
  Configurateur/front/lib/screens/container-creation/design_screen/design_screen.dart
  Configurateur/front/lib/screens/container-creation/maps_screen/maps_screen.dart
  Configurateur/front/lib/screens/container-creation/payment_screen/payment_screen.dart
  Configurateur/front/lib/screens/container-list/container_list.dart
  Configurateur/front/lib/screens/feedbacks/feedbacks.dart
  Configurateur/front/lib/screens/password-recuperation/password_change.dart
  Configurateur/front/lib/screens/password-recuperation/password_recuperation.dart
  Configurateur/front/lib/screens/profile/profile_page.dart
  Configurateur/front/lib/screens/save_container/my_container.dart
  Configurateur/front/lib/screens/user-list/user_list.dart
  Server/controllers/Common/container.js
  Server/controllers/Common/itemCategory.js
  Server/controllers/Common/items.js
  Server/controllers/Common/tickets.js
  Server/controllers/Mobile/cleandata.js
  Server/controllers/Web/feedbacks.js
  Server/controllers/Web/organization.js
  Server/controllers/Web/payment.js
  Server/controllers/Web/user.js
  Server/locales/en.json
  Server/locales/fr.json
  Server/middleware/jwt.js
  Server/routes/Mobile/containers.js
  Server/routes/Mobile/favorites.js
  Server/routes/Mobile/items.js
  Server/routes/Mobile/rent.js
  Server/routes/Mobile/tickets.js
  Server/routes/Mobile/user.js
  Server/routes/Web/container.js
  Server/routes/Web/feedbacks.js
  Server/routes/Web/itemCategory.js
  Server/routes/Web/items.js
  Server/routes/Web/organization.js
  Server/routes/Web/payment.js
  Server/routes/Web/tickets.js
  Server/routes/Web/user.js
  Server/tests/mobile/items.test.js
  Server/tests/mobile/tickets.test.js
  Server/tests/web/container.test.js
  Server/tests/web/feedbacks.test.js
  Server/tests/web/itemCategory.test.js
  Server/tests/web/items.test.js
  Server/tests/web/organization.test.js
  Server/tests/web/payment.test.js
  Server/tests/web/tickets.test.js
  Server/tests/web/user.test.js
Labels: Front, Back, Web

#406 405 mobile faq page
  Application/mobile/app_code/lib/l10n/app_en.arb
  Application/mobile/app_code/lib/l10n/app_fr.arb
  Application/mobile/app_code/lib/pages/faq/answer_page.dart
  Application/mobile/app_code/lib/pages/faq/answer_state.dart
  Application/mobile/app_code/lib/pages/faq/faq_page.dart
  Application/mobile/app_code/lib/pages/faq/faq_state.dart
  Application/mobile/app_code/lib/pages/settings/settings_pages/theme/theme_settings_page.dart
  Application/mobile/app_code/lib/pages/settings/settings_state.dart
  Application/mobile/app_code/test/faq_questions_test.dart
Labels: Back, Mobile, Test

#413 410 mobile container list refresh management
  Application/mobile/app_code/lib/pages/container/container_state.dart
  Application/mobile/app_code/test/container_test.dart
Labels: Front, Mobile, Test

#415 208 mobile rework my rentals
  Application/mobile/app_code/lib/l10n/app_en.arb
  Application/mobile/app_code/lib/l10n/app_fr.arb
  Application/mobile/app_code/lib/pages/profile/profile_state.dart
  Application/mobile/app_code/lib/pages/rent/rentals/rentals_list_card.dart
  Application/mobile/app_code/lib/pages/rent/rentals/rentals_page.dart
  Application/mobile/app_code/lib/pages/rent/rentals/rentals_state.dart
  Application/mobile/app_code/test/rentals_card_test.dart
  Application/mobile/app_code/test/rentals_test.dart
Labels: Front, Mobile, Test

#416 396 mobile button to complete to not show after profile completion
  Application/mobile/app_code/lib/pages/profile/profile_state.dart
Labels: Front, Mobile

#398 397 web setup internationalization
  .github/workflows/prettier.yml
  Configurateur/front/l10n.yaml
  Configurateur/front/lib/components/custom_header.dart
  Configurateur/front/lib/l10n/app_en.arb
  Configurateur/front/lib/l10n/app_fr.arb
  Configurateur/front/lib/l10n/missingTranslation.txt
  Configurateur/front/lib/main.dart
  Configurateur/front/lib/services/language_service.dart
  Configurateur/front/pubspec.yaml
  Configurateur/front/test/admin_test.dart
  Configurateur/front/test/landing_page_test.dart
  Configurateur/front/test/login_test.dart
  Configurateur/front/test/profile_page_test.dart
  Configurateur/front/test/register_test.dart
  Configurateur/front/test/ticket_page_test.dart
Labels: Front, Web

#382 Redesign footer
  Configurateur/front/lib/components/custom_footer.dart
  Configurateur/front/lib/components/tickets_page.dart
  Configurateur/front/lib/screens/admin/admin.dart
  Configurateur/front/lib/screens/company-profil/company-profil.dart
  Configurateur/front/lib/screens/company-profil/container-profil.dart
  Configurateur/front/lib/screens/company/company.dart
  Configurateur/front/lib/screens/confidentiality/confidentiality.dart
  Configurateur/front/lib/screens/container-creation/confirmation_screen/confirmation_screen.dart
  Configurateur/front/lib/screens/container-creation/container_creation/container_creation.dart
  Configurateur/front/lib/screens/container-creation/maps_screen/maps_screen.dart
  Configurateur/front/lib/screens/container-creation/payment_screen/payment_screen.dart
  Configurateur/front/lib/screens/container-creation/recap_screen/recap_screen.dart
  Configurateur/front/lib/screens/container-creation/shape_screen/shape_screen.dart
  Configurateur/front/lib/screens/container-list/container_list.dart
  Configurateur/front/lib/screens/feedbacks/feedbacks.dart
  Configurateur/front/lib/screens/landing-page/landing_page.dart
  Configurateur/front/lib/screens/login/login.dart
  Configurateur/front/lib/screens/not-found/not_found.dart
  Configurateur/front/lib/screens/password-recuperation/password_change.dart
  Configurateur/front/lib/screens/password-recuperation/password_recuperation.dart
  Configurateur/front/lib/screens/profile/profile_page.dart
  Configurateur/front/lib/screens/recap-config/recap_config.dart
  Configurateur/front/lib/screens/register-confirmation/confirmed_user.dart
  Configurateur/front/lib/screens/register/register.dart
  Configurateur/front/test/admin_test.dart
  Configurateur/front/test/company_profil_test.dart
  Configurateur/front/test/company_test.dart
  Configurateur/front/test/components/custom_footer_test.dart
  Configurateur/front/test/container-creation/design_screen_test.dart
  Configurateur/front/test/landing_page_test.dart
  Configurateur/front/test/login_test.dart
  Configurateur/front/test/profile_page_test.dart
  Configurateur/front/test/register_test.dart
Labels: Front, Web

#418 412 web company inscription
  Configurateur/front/lib/app_routes.dart
  Configurateur/front/lib/components/interactive_panel.dart
  Configurateur/front/lib/screens/company-creation/company-creation.dart
  Configurateur/front/lib/screens/company-creation/company-creation_style.dart
  Configurateur/front/lib/screens/container-creation/design_screen/design_screen.dart
  Configurateur/front/lib/screens/register/register.dart
  Configurateur/front/test/register_test.dart
  README.md
  Server/controllers/Web/organization.js
  Server/controllers/Web/payment.js
  Server/controllers/Web/user.js
  Server/locales/en.json
  Server/locales/fr.json
  Server/middleware/transporter.js
  Server/prisma/schema.prisma
  Server/routes/Web/items.js
  Server/routes/Web/organization.js
  Server/routes/Web/user.js
Labels: Front, Back, Web

#403 225 all image storage
  Application/mobile/app_code/assets/football.jpg
  Application/mobile/app_code/assets/freesbee.jpg
  Application/mobile/app_code/assets/image_placeholder.png
  Application/mobile/app_code/assets/raquette.jpg
  Application/mobile/app_code/assets/volley.png
  Application/mobile/app_code/lib/pages/article/article_list_data.dart
  Application/mobile/app_code/lib/pages/article/details_state.dart
  Application/mobile/app_code/lib/pages/article/favorite/favorite_state.dart
  Application/mobile/app_code/lib/pages/contact/conversation_state.dart
  Application/mobile/app_code/lib/pages/map/map_state.dart
  Application/mobile/app_code/lib/pages/opinion/opinion_state.dart
  Application/mobile/app_code/lib/pages/rent/rent_state.dart
  Application/mobile/app_code/lib/pages/rent/rentals/rentals_list_card.dart
  Application/mobile/app_code/lib/pages/rent/return_state.dart
  Application/mobile/app_code/lib/utils/image_loader.dart
  Application/mobile/app_code/pubspec.yaml
  Application/mobile/app_code/test/article_details_test.dart
  Application/mobile/app_code/test/article_list_data_test.dart
  Server/app.js
  Server/controllers/Common/container.js
  Server/controllers/Common/images.js
  Server/controllers/Common/itemCategory.js
  Server/controllers/Common/items.js
  Server/controllers/Common/tickets.js
  Server/controllers/Web/feedbacks.js
  Server/controllers/Web/organization.js
  Server/controllers/Web/payment.js
  Server/controllers/Web/user.js
  Server/docs/components.js
  Server/docs/paths/Web/images/download.js
  Server/fixtures/mobile.js
  Server/locales/en.json
  Server/locales/fr.json
  Server/middleware/images.js
  Server/package.json
  Server/passport/bearer_token.js
  Server/passport/strategy_options.js
  Server/prisma/schema.prisma
  Server/routes/Mobile/auth.js
  Server/routes/Mobile/containers.js
  Server/routes/Mobile/favorites.js
  Server/routes/Mobile/items.js
  Server/routes/Mobile/opinion.js
  Server/routes/Mobile/rent.js
  Server/routes/Mobile/tickets.js
  Server/routes/Mobile/user.js
  Server/routes/Web/download.js
  Server/routes/Web/feedbacks.js
  Server/routes/Web/images.js
  Server/routes/Web/itemCategory.js
  Server/routes/Web/items.js
  Server/routes/Web/tickets.js
  Server/tests/mobile/favorite.test.js
  Server/tests/mobile/items.test.js
  Server/tests/mobile/rent.test.js
  Server/tests/web/user.test.js
Labels: Front, Back, Mobile, Web

#429 428 mobile rework article confirmation page
  Application/mobile/app_code/lib/pages/login/login_refresh_token.dart
  Application/mobile/app_code/lib/pages/rent/confirm/confirm_rent_state.dart
  Application/mobile/app_code/lib/pages/rent/rent_state.dart
  Server/routes/Mobile/auth.js
Labels: Mobile

#430 412 web company inscription
  Configurateur/front/lib/components/dialog/confirmation_dialog.dart
  Configurateur/front/lib/components/dialog/handle_member/handle_member.dart
  Configurateur/front/lib/components/dialog/handle_member/handle_member_style.dart
  Configurateur/front/lib/screens/company-creation/company-creation.dart
  Configurateur/front/lib/screens/company-profil/company-profil.dart
  Configurateur/front/test/company-creation_test.dart
  Configurateur/front/test/components/dialog/confirmation_dialog_test.dart
  Configurateur/front/test/components/dialog/handle_member_test.dart
  Server/controllers/Web/user.js
  Server/docs/paths/Web/organization/addMember.js
  Server/docs/paths/Web/organization/inviteMember.js
  Server/docs/paths/Web/organization/members.js
  Server/fixtures/web.js
  Server/locales/en.json
  Server/locales/fr.json
  Server/middleware/jwt.js
  Server/routes/Web/organization.js
Labels: Front, Back, Web

#425 419 web fixing unit tests and fixing UI
  .gitignore
  Configurateur/front/lib/app_routes.dart
  Configurateur/front/lib/components/custom_footer.dart
  Configurateur/front/lib/components/custom_header.dart
  Configurateur/front/lib/components/dialog/container_dialog.dart
  Configurateur/front/lib/components/interactive_panel.dart
  Configurateur/front/lib/components/tickets_page.dart
  Configurateur/front/lib/screens/feedbacks/feedbacks.dart
  Configurateur/front/lib/screens/profile/profile_page.dart
  Configurateur/front/lib/screens/save_container/my_container.dart
  Configurateur/front/test/components/custom_footer_test.dart
  Server/.well-known/assetlinks.json
  Server/app.js
  Server/locales/fr.json
  Server/routes/Web/assetlinks.js
  Server/routes/Web/tickets.js
  Server/tests/web/tickets.test.js
Labels: Front, Web, Test

#431 [FIX] Manager boolean value when creating company
  Configurateur/front/lib/screens/company-creation/company-creation.dart
  Server/controllers/Common/container.js
  Server/routes/Web/container.js
Labels: BUG

#432 FAQ page
  Configurateur/front/assets/Help.png
  Configurateur/front/lib/app_routes.dart
  Configurateur/front/lib/components/container.dart
  Configurateur/front/lib/screens/company-profil/container-profil.dart
  Configurateur/front/lib/screens/company/company.dart
  Configurateur/front/lib/screens/faq/faq.dart
  Configurateur/front/lib/screens/not-found/not_found.dart
  Configurateur/front/pubspec.yaml
  Configurateur/front/test/faq_test.dart
Labels: Front, Back, Web, Test

#438 363 mobile get itinerary when returning an article
  Application/mobile/app_code/lib/pages/rent/return_state.dart
  Server/controllers/Mobile/rent.js
Labels: Front, Mobile

#437 409 mobile global error handling
  Server/routes/Mobile/opinion.js
Labels: Front, Back, Mobile
