Repository H-chauvet/RISU, pull requests merged in 2024-07, with the labels that each got.

#368 [WEB] UI command recap
  .env
  Configurateur/front/lib/components/recap_panel/recap_panel.dart
  Configurateur/front/lib/components/recap_panel/recap_panel_style.dart
  Configurateur/front/lib/screens/container-creation/container_creation/container_creation.dart
  Configurateur/front/lib/screens/container-creation/design_screen/design_screen.dart
  Configurateur/front/lib/screens/container-creation/recap_screen/recap_screen.dart
  Configurateur/front/lib/screens/container-creation/shape_screen/shape_screen.dart
  Configurateur/front/test/components/recap_panel_test.dart
  Configurateur/front/test/container-creation/container_creation_test.dart
  Configurateur/front/test/container-creation/design_screen_test.dart
  Configurateur/front/test/container-creation/recap_screen_test.dart
Labels: Front, Web

#374 371 logo pour catégories darticles
  Application/mobile/app_code/lib/l10n/app_en.arb
  Application/mobile/app_code/lib/l10n/app_fr.arb
  Application/mobile/app_code/lib/pages/article/article_list_data.dart
  Application/mobile/app_code/lib/pages/article/details_state.dart
  Application/mobile/app_code/test/article_details_test.dart
  Application/mobile/app_code/test/article_list_data_test.dart
  Server/fixtures/mobile.js
Labels: Mobile, Test

#379 377 mobile move articles feedbacks in the articles details
  Application/mobile/app_code/lib/l10n/app_en.arb
  Application/mobile/app_code/lib/l10n/app_fr.arb
  Application/mobile/app_code/lib/pages/article/details_state.dart
  Application/mobile/app_code/test/article_details_test.dart
Labels: Front, Mobile, Test

#381 377 mobile move articles feedbacks in the articles details
  Application/mobile/app_code/lib/l10n/app_en.arb
  Application/mobile/app_code/lib/l10n/app_fr.arb
  Application/mobile/app_code/lib/pages/article/details_state.dart
  Application/mobile/app_code/test/article_details_test.dart
Labels: Front, Mobile

#388 [ADD] Custom toast, for the everything on the WEB
  Configurateur/front/lib/components/custom_header.dart
  Configurateur/front/lib/components/custom_toast.dart
  Configurateur/front/lib/components/dialog/rating_dialog_content/rating_dialog_content.dart
  Configurateur/front/lib/components/google/google.dart
  Configurateur/front/lib/components/items-information.dart
  Configurateur/front/lib/components/tickets_page.dart
  Configurateur/front/lib/network/informations.dart
  Configurateur/front/lib/screens/company-profil/company-profil.dart
  Configurateur/front/lib/screens/company-profil/container-profil.dart
  Configurateur/front/lib/screens/company/company.dart
  Configurateur/front/lib/screens/container-creation/container_creation/container_creation.dart
  Configurateur/front/lib/screens/container-creation/design_screen/design_screen.dart
  Configurateur/front/lib/screens/container-creation/maps_screen/maps_screen.dart
  Configurateur/front/lib/screens/container-creation/payment_screen/payment_screen.dart
  Configurateur/front/lib/screens/container-list/container_list.dart
  Configurateur/front/lib/screens/feedbacks/feedbacks.dart
  Configurateur/front/lib/screens/login/login.dart
  Configurateur/front/lib/screens/password-recuperation/password_change.dart
  Configurateur/front/lib/screens/password-recuperation/password_recuperation.dart
  Configurateur/front/lib/screens/profile/profile_page.dart
  Configurateur/front/lib/screens/recap-config/recap_config.dart
  Configurateur/front/lib/screens/register-confirmation/register_confirmation.dart
  Configurateur/front/lib/screens/user-list/user_list.dart
  Configurateur/front/test/company_profil_test.dart
  Configurateur/front/test/ticket_page_test.dart
  Configurateur/front/test/user_test.dart
Labels: Front, Web

#392 [FIX] Autofill errors patterns
  Configurateur/front/lib/screens/container-creation/container_creation/container_creation.dart
Labels: Front, Web, BUG

#372 Strokes for the lockers during the container's configuration
  Configurateur/front/lib/screens/container-creation/container_creation/container_creation.dart
Labels: Front, Web

#395 389 web custom popup
  Configurateur/front/lib/components/custom_header.dart
  Configurateur/front/lib/components/custom_popup.dart
  Configurateur/front/lib/network/informations.dart
  Configurateur/front/lib/screens/profile/profile_page.dart
  Configurateur/front/test/admin_test.dart
  Configurateur/front/test/company_profil_test.dart
  Configurateur/front/test/company_test.dart
  Configurateur/front/test/components/custom_popup_test.dart
  Configurateur/front/test/confirmation_save_test.dart
  Configurateur/front/test/container_test.dart
  Configurateur/front/test/feedbacks_card_test.dart
  Configurateur/front/test/feedbacks_page_test.dart
  Configurateur/front/test/login_test.dart
  Configurateur/front/test/my_container_test.dart
  Configurateur/front/test/password_change_test.dart
  Configurateur/front/test/password_recuperation_test.dart
  Configurateur/front/test/profile_page_test.dart
  Configurateur/front/test/recap_config_test.dart
  Configurateur/front/test/register_confirmation_test.dart
  Configurateur/front/test/register_test.dart
  Configurateur/front/test/user_test.dart
Labels: Front, Web, Test

#376 375 web bug delete lockers
  Configurateur/front/lib/components/dialog/delete_container_dialog.dart
  Configurateur/front/lib/screens/container-creation/container_creation/container_creation.dart
  Configurateur/front/lib/screens/container-creation/design_screen/design_screen.dart
  Configurateur/front/lib/screens/container-creation/recap_screen/recap_screen.dart
  Configurateur/front/lib/screens/container-creation/shape_screen/shape_screen.dart
  Configurateur/front/lib/services/locker_service.dart
  Configurateur/front/test/container-creation/container_creation_test.dart
  Configurateur/front/test/container-creation/design_screen_test.dart
  Configurateur/front/test/container-creation/shape_screen_test.dart
Labels: Front, Web, BUG

#394 378 mobile handle token expiration
  Application/mobile/app_code/lib/components/alert_dialog.dart
  Application/mobile/app_code/lib/l10n/app_en.arb
  Application/mobile/app_code/lib/l10n/app_fr.arb
  Application/mobile/app_code/lib/pages/article/details_state.dart
  Application/mobile/app_code/lib/pages/article/favorite/favorite_state.dart
  Application/mobile/app_code/lib/pages/article/list_state.dart
  Application/mobile/app_code/lib/pages/contact/contact_state.dart
  Application/mobile/app_code/lib/pages/contact/conversation_state.dart
  Application/mobile/app_code/lib/pages/contact/new_ticket_state.dart
  Application/mobile/app_code/lib/pages/container/container_state.dart
  Application/mobile/app_code/lib/pages/login/ask_reset_password/ask_reset_password_state.dart
  Application/mobile/app_code/lib/pages/map/map_state.dart
  Application/mobile/app_code/lib/pages/opinion/opinion_state.dart
  Application/mobile/app_code/lib/pages/profile/informations/informations_state.dart
  Application/mobile/app_code/lib/pages/rent/confirm/confirm_rent_state.dart
  Application/mobile/app_code/lib/pages/rent/rent_state.dart
  Application/mobile/app_code/lib/pages/rent/rental_state.dart
  Application/mobile/app_code/lib/pages/rent/return_state.dart
  Application/mobile/app_code/lib/pages/reset_password/reset_password_state.dart
  Application/mobile/app_code/lib/pages/settings/settings_pages/notifications/notifications_state.dart
  Application/mobile/app_code/lib/pages/settings/settings_state.dart
  Application/mobile/app_code/lib/utils/check_signin.dart
Labels: Front, Mobile
