Repository H-chauvet/RISU, pull requests merged in 2024-06, with the labels that each got.

#356 Fill missing informations in container creation
  Configurateur/front/lib/screens/container-creation/maps_screen/maps_screen.dart
  Server/controllers/Common/container.js
  Server/routes/Web/container.js
  Server/tests/web/container.test.js
Labels: Back, Web

#357 354 web download apk from the website
  .github/workflows/risu-ci.yml
  Application/docker-compose.yaml
  Application/mobile/Dockerfile
  Configurateur/front/lib/components/custom_header.dart
  Configurateur/front/pubspec.yaml
  Configurateur/front/test/admin_test.dart
  Server/app.js
  Server/docs/paths/Web/download/download.js
  Server/docs/paths/index.js
  Server/routes/Web/download.js
  docker-compose.yaml
Labels: Front, Back, Web, Docker

#364 [ALL] Tickets Contact Name
  Application/mobile/app_code/lib/l10n/app_en.arb
  Application/mobile/app_code/lib/l10n/app_fr.arb
  Application/mobile/app_code/lib/pages/contact/conversation_state.dart
  Application/mobile/app_code/test/conversation_test.dart
  Application/mobile/app_code/test/rent_return_test.dart
  Application/mobile/app_code/test/rentals_test.dart
  Configurateur/front/lib/components/tickets_page.dart
  Configurateur/front/test/ticket_page_test.dart
  Server/docs/paths/Mobile/contact/assignedInfo.js
  Server/docs/paths/Web/tickets/assignedInfo.js
  Server/docs/paths/index.js
  Server/routes/Mobile/tickets.js
  Server/routes/Web/tickets.js
  Server/tests/web/tickets.test.js
Labels: Documentation, Front, Back, Mobile, Web, Test

#366 Refresh handling in container creation
  Configurateur/front/lib/app_routes.dart
  Configurateur/front/lib/components/custom_header.dart
  Configurateur/front/lib/components/dialog/save_dialog.dart
  Configurateur/front/lib/screens/container-creation/container_creation/container_creation.dart
  Configurateur/front/lib/screens/container-creation/design_screen/design_screen.dart
  Configurateur/front/lib/screens/container-creation/payment_screen/payment_screen.dart
  Configurateur/front/lib/screens/container-creation/recap_screen/recap_screen.dart
  Configurateur/front/lib/screens/container-creation/shape_screen/shape_screen.dart
  Configurateur/front/lib/screens/landing-page/landing_page.dart
  Configurateur/front/lib/screens/save_container/my_container.dart
  Configurateur/front/test/container-creation/design_screen_test.dart
  Configurateur/front/test/container-creation/recap_screen_test.dart
Labels: Front, Web
