Repository H-chauvet/RISU, pull requests merged in 2024-01, with the labels that each got.

#147 Feature/268 - Rework profile page
  Application/mobile/app_code/lib/components/parameter.dart
  Application/mobile/app_code/lib/pages/settings/settings_pages/theme/theme_settings_page.dart
  Application/mobile/app_code/lib/pages/settings/settings_pages/theme/theme_settings_state.dart
  Application/mobile/app_code/lib/pages/settings/settings_state.dart
  Application/mobile/app_code/test/parameter_button_test.dart
  Application/mobile/app_code/test/setting_test.dart
  Application/mobile/app_code/test/theme_settings_test.dart
Labels: front, mobile, test

#148 Parcours création de conteneur
  Configurateur/back/app.js
  Configurateur/back/controllers/container.js
  Configurateur/back/prisma/schema.prisma
  Configurateur/back/routes/container.js
  Configurateur/back/tests/container.test.js
  Configurateur/front/lib/app_routes.dart
  Configurateur/front/lib/components/recap_panel.dart
  Configurateur/front/lib/screens/container-creation/confirmation_screen.dart
  Configurateur/front/lib/screens/container-creation/container_creation.dart
  Configurateur/front/lib/screens/container-creation/design_screen.dart
  Configurateur/front/lib/screens/container-creation/payment_screen.dart
  Configurateur/front/lib/screens/container-creation/recap_screen.dart
  Configurateur/front/lib/screens/container-creation/visualization_screen.dart
  Configurateur/front/lib/services/http_service.dart
  Configurateur/front/pubspec.yaml
  Configurateur/front/test/container-creation/confirmation_screen_test.dart
  Configurateur/front/test/container-creation/container_creation_test.dart
  Configurateur/front/test/container-creation/design_screen_test.dart
  Configurateur/front/test/container-creation/payment_screen_test.dart
  Configurateur/front/test/container-creation/recap_screen_test.dart
Labels: enhancement, front, back, web

#149 [FIX] Too long name in profile
  Application/mobile/app_code/lib/pages/profile/profile_state.dart
Labels: bug, front, mobile

#151 [ADD] fix opinion page + tests front and back
  Application/mobile/app_code/lib/pages/article/article.dart
  Application/mobile/app_code/lib/pages/opinion/opinion_page.dart
  Application/mobile/app_code/lib/pages/opinion/opinion_state.dart
  Application/mobile/app_code/lib/pages/settings/settings_state.dart
  Application/mobile/app_code/test/opinion_test.dart
  Application/server/prisma/schema.prisma
  Application/server/server.js
  Application/server/tests/opinion.test.js
Labels: back, database, mobile, test

#131 [MOBILE] Refacto du code back et front
  Application/cmds
  Application/mobile/app_code/lib/pages/article/article.dart
  Application/mobile/app_code/lib/pages/article/list_state.dart
  Application/mobile/app_code/lib/pages/article/rent_state.dart
  Application/mobile/app_code/lib/pages/contact/contact_state.dart
  Application/mobile/app_code/lib/pages/login/login_state.dart
  Application/mobile/app_code/lib/pages/profile/informations/informations_state.dart
  Application/mobile/app_code/lib/pages/settings/settings_state.dart
  Application/mobile/app_code/lib/utils/user_data.dart
  Application/mobile/app_code/test/profile_info_test.dart
  Application/mobile/app_code/test/user_data_test.dart
  Application/server/server.js
  Application/server/tests/apiUser.test.js
  Application/server/tests/location.test.js
  Application/server/tests/opinion.test.js
  Application/server/tests/profileInformation.test.js
Labels: front, back, database, mobile

#155 [FIX] click behavior
  Application/mobile/app_code/lib/components/parameter.dart
Labels: bug, front, mobile

#142 [MOBILE] page Container details
  Application/mobile/app_code/assets/container.png
  Application/mobile/app_code/lib/pages/article/article_list_data.dart
  Application/mobile/app_code/lib/pages/article/details_page.dart
  Application/mobile/app_code/lib/pages/article/details_state.dart
  Application/mobile/app_code/lib/pages/article/list_page.dart
  Application/mobile/app_code/lib/pages/article/list_state.dart
  Application/mobile/app_code/lib/pages/article/rent_page.dart
  Application/mobile/app_code/lib/pages/article/rent_state.dart
  Application/mobile/app_code/lib/pages/container/container_list.dart
  Application/mobile/app_code/lib/pages/container/details_page.dart
  Application/mobile/app_code/lib/pages/container/details_state.dart
  Application/mobile/app_code/lib/pages/home/home_state.dart
  Application/mobile/app_code/test/container_details_test.dart
  Application/mobile/app_code/test/location_test.dart
  Application/server/prisma/schema.prisma
  Application/server/server.js
Labels: mobile

#164 Feature/275 - Burger Menu
  Application/mobile/app_code/lib/components/burger_drawer.dart
  Application/mobile/app_code/lib/components/parameter.dart
  Application/mobile/app_code/lib/pages/home/home_state.dart
  Application/mobile/app_code/lib/utils/colors.dart
  Application/mobile/app_code/pubspec.lock
  Application/mobile/app_code/test/burger_drawer_test.dart
  Application/mobile/app_code/test/redirect_button_test.dart
Labels: front, mobile, test

#167 [FIX] mobile: container details to article details
  Application/mobile/app_code/lib/pages/article/article_list_data.dart
  Application/mobile/app_code/lib/pages/article/details_state.dart
  Application/mobile/app_code/lib/pages/article/list_state.dart
  Application/mobile/app_code/lib/pages/container/details_state.dart
  Application/mobile/app_code/test/article_details_test.dart
  Application/mobile/app_code/test/article_list_data_test.dart
  Application/mobile/app_code/test/article_list_test.dart
  Application/mobile/app_code/test/container_details_test.dart
  Application/server/server.js
  Application/server/tests/apiArticle.test.js
  Application/server/tests/apiContainer.test.js
Labels: front, back, mobile, test

#170 Feature/276
  Configurateur/back/controllers/container.js
  Configurateur/back/controllers/payment.js
  Configurateur/back/prisma/schema.prisma
  Configurateur/back/routes/container.js
  Configurateur/back/routes/payment.js
  Configurateur/back/tests/container.test.js
  Configurateur/front/lib/app_routes.dart
  Configurateur/front/lib/components/dialog/save_dialog.dart
  Configurateur/front/lib/screens/container-creation/container_creation.dart
  Configurateur/front/lib/screens/container-creation/design_screen.dart
  Configurateur/front/lib/screens/container-creation/payment_screen.dart
  Configurateur/front/lib/screens/container-creation/recap_screen.dart
  Configurateur/front/lib/screens/container-creation/visualization_screen.dart
  Configurateur/front/lib/screens/landing-page/landing_page.dart
  Configurateur/front/lib/screens/save_container/confirmation_save.dart
  Configurateur/front/lib/screens/save_container/my_container.dart
  Configurateur/front/test/confirmation_save_test.dart
  Configurateur/front/test/container-creation/container_creation_test.dart
  Configurateur/front/test/container-creation/design_screen_test.dart
  Configurateur/front/test/my_container_test.dart
Labels: enhancement, front, back, web, test

#173 Feature/282 -Delete account implemented and tested
  Application/mobile/app_code/lib/pages/settings/settings_state.dart
  Application/mobile/app_code/test/setting_test.dart
Labels: front, mobile, test

#175 Feature 278 - Confirm page for rent
  Application/mobile/app_code/lib/pages/rent/confirm/confirm_rent_page.dart
  Application/mobile/app_code/lib/pages/rent/confirm/confirm_rent_state.dart
  Application/mobile/app_code/lib/pages/rent/rent_state.dart
  Application/mobile/app_code/test/confirm_rent_test.dart
Labels: front, mobile, test

#171 Feature/219
  Application/mobile/app_code/android/app/src/main/java/com/example/risu/MainActivity.java
  Application/mobile/app_code/android/app/src/main/res/values/styles.xml
  Application/mobile/app_code/lib/.env
  Application/mobile/app_code/lib/main.dart
  Application/mobile/app_code/lib/pages/rent/rent_state.dart
  Application/mobile/app_code/pubspec.yaml
  Application/mobile/app_code/test/location_test.dart
Labels: mobile

#177 Feature/281
  Application/mobile/app_code/lib/pages/rent/rent_state.dart
  Application/mobile/app_code/lib/pages/rent/rental_state.dart
  Application/mobile/app_code/lib/pages/rent/return_page.dart
  Application/mobile/app_code/lib/pages/rent/return_state.dart
  Application/mobile/app_code/test/rent_return_test.dart
  Application/server/prisma/schema.prisma
  Application/server/server.js
  Application/server/tests/apiRentReturn.test.js
  Application/server/tests/apiRentals.test.js
Labels: front, back, mobile, test

#183 [UPDATE] fix .env location
  Application/mobile/app_code/lib/main.dart
Labels: mobile

#185 Feature/update theme
  Application/mobile/app_code/lib/components/parameter.dart
  Application/mobile/app_code/lib/pages/settings/settings_pages/theme/theme_settings_page.dart
  Application/mobile/app_code/lib/pages/settings/settings_pages/theme/theme_settings_state.dart
  Application/mobile/app_code/lib/pages/settings/settings_state.dart
  Application/mobile/app_code/test/parameter_button_test.dart
  Application/mobile/app_code/test/theme_settings_test.dart
Labels: mobile, test

#188 [MOBILE] Add loader + notifications
  Application/mobile/app_code/lib/components/loader.dart
  Application/mobile/app_code/lib/components/local_notifications.dart
  Application/mobile/app_code/lib/pages/article/details_state.dart
  Application/mobile/app_code/lib/pages/article/list_state.dart
  Application/mobile/app_code/lib/pages/contact/contact_state.dart
  Application/mobile/app_code/lib/pages/container/container_state.dart
  Application/mobile/app_code/lib/pages/container/details_state.dart
  Application/mobile/app_code/lib/pages/login/login_state.dart
  Application/mobile/app_code/lib/pages/opinion/opinion_state.dart
  Application/mobile/app_code/lib/pages/profile/informations/informations_state.dart
  Application/mobile/app_code/lib/pages/rent/rent_state.dart
  Application/mobile/app_code/lib/pages/rent/rental_state.dart
  Application/mobile/app_code/lib/pages/rent/return_state.dart
  Application/mobile/app_code/lib/pages/settings/settings_pages/notifications/notifications_state.dart
  Application/mobile/app_code/lib/pages/settings/settings_state.dart
  Application/mobile/app_code/lib/pages/signup/signup_state.dart
  Application/mobile/app_code/macos/Flutter/GeneratedPluginRegistrant.swift
  Application/mobile/app_code/pubspec.lock
  Application/mobile/app_code/pubspec.yaml
  Application/mobile/app_code/test/article_details_test.dart
  Application/mobile/app_code/test/container_details_test.dart
  Application/mobile/app_code/test/container_test.dart
  Application/mobile/app_code/test/login_test.dart
  Application/mobile/app_code/test/opinion_test.dart
  Application/mobile/app_code/test/profile_info_test.dart
  Application/mobile/app_code/test/profile_test.dart
  Application/mobile/app_code/test/rent_return_test.dart
  Application/mobile/app_code/test/rentals_test.dart
  Application/server/server.js
Labels: front, mobile, test
