Repository H-chauvet/RISU, pull requests merged in 2024-10, with the labels that each got.

#442 Mobile - Handle deeplinks
  Application/mobile/app_code/.firebaserc
  Application/mobile/app_code/android/app/src/main/AndroidManifest.xml
  Application/mobile/app_code/firebase.json
  Application/mobile/app_code/lib/l10n/app_en.arb
  Application/mobile/app_code/lib/l10n/app_fr.arb
  Application/mobile/app_code/lib/pages/home/home_state.dart
  Application/mobile/app_code/lib/pages/reset_password/reset_password_state.dart
  Application/mobile/app_code/linux/flutter/generated_plugin_registrant.cc
  Application/mobile/app_code/linux/flutter/generated_plugins.cmake
  Application/mobile/app_code/macos/Flutter/GeneratedPluginRegistrant.swift
  Application/mobile/app_code/public/.well-known/assetlinks.json
  Application/mobile/app_code/public/404.html
  Application/mobile/app_code/public/index.html
  Application/mobile/app_code/pubspec.yaml
  Application/mobile/app_code/windows/flutter/generated_plugin_registrant.cc
  Application/mobile/app_code/windows/flutter/generated_plugins.cmake
  Server/controllers/Mobile/auth.js
  Server/controllers/Mobile/user.js
  Server/fixtures/mobile.js
  Server/locales/en.json
  Server/locales/fr.json
  Server/routes/Mobile/user.js
Labels: Back, Mobile

#464 [MOBILE] Small fixes for settings page
  Application/mobile/app_code/lib/components/parameter.dart
  Application/mobile/app_code/lib/pages/settings/settings_state.dart
Labels: Front, Mobile

#465 [MOBILE] Button to share containers & articles
  Application/mobile/app_code/lib/l10n/app_en.arb
  Application/mobile/app_code/lib/l10n/app_fr.arb
  Application/mobile/app_code/lib/pages/article/details_state.dart
  Application/mobile/app_code/lib/pages/article/list_state.dart
  Application/mobile/app_code/lib/utils/share_deeplink.dart
Labels: Mobile

#466 457 mobile new languages
  Application/mobile/app_code/lib/l10n/app_es.arb
  Application/mobile/app_code/lib/pages/settings/settings_pages/language/modal.dart
Labels: Front, Mobile

#468 Reduce space between footer and the end of the page
  Configurateur/front/lib/components/tickets_page.dart
  Configurateur/front/lib/screens/admin/admin.dart
  Configurateur/front/lib/screens/company-creation/company-creation.dart
  Configurateur/front/lib/screens/company-profil/company-profil.dart
  Configurateur/front/lib/screens/company-profil/container-profil.dart
  Configurateur/front/lib/screens/company-profil/object-creation.dart
  Configurateur/front/lib/screens/company/company.dart
  Configurateur/front/lib/screens/confidentiality/confidentiality.dart
  Configurateur/front/lib/screens/container-creation/confirmation_screen/confirmation_screen.dart
  Configurateur/front/lib/screens/container-creation/container_creation/container_creation.dart
  Configurateur/front/lib/screens/container-creation/design_screen/design_screen.dart
  Configurateur/front/lib/screens/container-creation/maps_screen/maps_screen.dart
  Configurateur/front/lib/screens/container-creation/payment_screen/payment_screen.dart
  Configurateur/front/lib/screens/container-creation/recap_screen/recap_screen.dart
  Configurateur/front/lib/screens/container-creation/shape_screen/shape_screen.dart
  Configurateur/front/lib/screens/container-list/container_list.dart
  Configurateur/front/lib/screens/faq/faq.dart
  Configurateur/front/lib/screens/feedbacks/feedbacks.dart
  Configurateur/front/lib/screens/landing-page/landing_page.dart
  Configurateur/front/lib/screens/login/login.dart
  Configurateur/front/lib/screens/not-found/not_found.dart
  Configurateur/front/lib/screens/profile/profile_page.dart
  Configurateur/front/lib/screens/register-confirmation/confirmed_user.dart
  Configurateur/front/lib/screens/register/register.dart
  Configurateur/front/lib/screens/user-list/user_list.dart
  Configurateur/front/test/confidentiality_test.dart
  Configurateur/front/test/confirmed_user_test.dart
  Configurateur/front/test/container-creation/confirmation_screen_test.dart
Labels: Front, Web

#469 225 all image storage
  Application/mobile/app_code/lib/pages/container/container_list_data.dart
  Configurateur/front/lib/screens/company-profil/company-profil.dart
  Configurateur/front/lib/screens/company-profil/container-profil.dart
  Configurateur/front/lib/screens/company-profil/object-creation.dart
  Configurateur/front/lib/screens/company/company.dart
  Configurateur/front/lib/screens/container-creation/container_creation/container_creation.dart
  Configurateur/front/lib/screens/container-creation/maps_screen/maps_screen.dart
  Configurateur/front/lib/screens/password-recuperation/password_recuperation.dart
  Configurateur/front/lib/screens/recap-config/recap_config.dart
  Configurateur/front/pubspec.yaml
  Server/controllers/Common/items.js
  Server/middleware/images.js
  Server/package.json
  Server/prisma/schema.prisma
  Server/routes/Web/images.js
  Server/routes/Web/items.js
  Server/tests/web/items.test.js
Labels: Back, Mobile, Web

#472 471 header on all pages
  Configurateur/front/lib/components/recap_panel/recap_panel.dart
  Configurateur/front/lib/l10n/app_en.arb
  Configurateur/front/lib/l10n/app_fr.arb
  Configurateur/front/lib/screens/company-profil/company-profil.dart
  Configurateur/front/lib/screens/company-profil/container-profil.dart
  Configurateur/front/lib/screens/company-profil/object-creation.dart
  Configurateur/front/lib/screens/confidentiality/confidentiality.dart
  Configurateur/front/lib/screens/container-creation/confirmation_screen/confirmation_screen.dart
  Configurateur/front/lib/screens/container-creation/container_creation/container_creation.dart
  Configurateur/front/lib/screens/container-creation/design_screen/design_screen.dart
  Configurateur/front/lib/screens/container-creation/maps_screen/maps_screen.dart
  Configurateur/front/lib/screens/container-creation/payment_screen/payment_screen.dart
  Configurateur/front/lib/screens/container-creation/recap_screen/recap_screen.dart
  Configurateur/front/lib/screens/container-creation/shape_screen/shape_screen.dart
  Configurateur/front/lib/screens/container-list/container_list.dart
  Configurateur/front/lib/screens/feedbacks/feedbacks_card.dart
  Configurateur/front/lib/screens/profile/profile_page.dart
  Configurateur/front/lib/screens/register-confirmation/confirmed_user.dart
  Configurateur/front/lib/screens/user-list/user_list.dart
  Configurateur/front/lib/styles/globalStyle.dart
  Configurateur/front/test/container-creation/confirmation_screen_test.dart
  Configurateur/front/test/container-creation/design_screen_test.dart
  Configurateur/front/test/container-creation/maps_screen_test.dart
  Configurateur/front/test/container-creation/recap_screen_test.dart
  Configurateur/front/test/container-creation/shape_screen_test.dart
  Configurateur/front/test/container_test.dart
  Configurateur/front/test/object_creation_test.dart
  Configurateur/front/test/user_test.dart
Labels: Front, Web

#452 446 web upgrade container save
  Configurateur/front/lib/components/dialog/save_dialog.dart
  Configurateur/front/lib/screens/save_container/my_container.dart
  Configurateur/front/test/company_profil_test.dart
  Server/prisma/schema.prisma
Labels: Front, Web

#477 [FIX] Register with deeplink (Revert)
  Server/controllers/Mobile/auth.js
Labels: Back, BUG

#470 [ADD] Dark mode color rework
  Configurateur/front/lib/components/container.dart
  Configurateur/front/lib/components/custom_header.dart
  Configurateur/front/lib/components/custom_popup.dart
  Configurateur/front/lib/components/dialog/rating_dialog_content/rating_dialog_content.dart
  Configurateur/front/lib/screens/company/company.dart
  Configurateur/front/lib/screens/container-creation/design_screen/design_screen.dart
  Configurateur/front/lib/screens/container-creation/payment_screen/payment_screen.dart
  Configurateur/front/lib/screens/container-creation/shape_screen/shape_screen.dart
  Configurateur/front/lib/screens/container-list/container_list.dart
  Configurateur/front/lib/screens/profile/profile_page.dart
  Configurateur/front/lib/screens/user-list/user-component-web.dart
  Configurateur/front/lib/screens/user-list/user-component.dart
  Configurateur/front/lib/styles/themes.dart
  Configurateur/front/test/components/container_test.dart
  Configurateur/front/test/container_test.dart
Labels: Front, Web

#484 454 mobile add my locations and favorite in the appbar when logged in
  Application/mobile/app_code/lib/components/bottomnavbar.dart
  Application/mobile/app_code/lib/l10n/app_en.arb
  Application/mobile/app_code/lib/l10n/app_es.arb
  Application/mobile/app_code/lib/l10n/app_fr.arb
  Application/mobile/app_code/lib/pages/article/favorite/favorite_page.dart
  Application/mobile/app_code/lib/pages/article/favorite/favorite_state.dart
  Application/mobile/app_code/lib/pages/home/home_state.dart
  Application/mobile/app_code/lib/pages/profile/profile_state.dart
  Application/mobile/app_code/lib/pages/rent/rentals/rentals_page.dart
  Application/mobile/app_code/lib/pages/rent/rentals/rentals_state.dart
  Application/mobile/app_code/test/favorite_test.dart
  Application/mobile/app_code/test/rentals_test.dart
Labels: Front, Mobile, Test

#486 [ADD] Complementary status for ticket
  Application/mobile/app_code/lib/l10n/app_en.arb
  Application/mobile/app_code/lib/l10n/app_es.arb
  Application/mobile/app_code/lib/l10n/app_fr.arb
  Application/mobile/app_code/lib/pages/contact/contact_state.dart
  Configurateur/front/lib/components/tickets_page.dart
  Configurateur/front/lib/l10n/app_en.arb
  Configurateur/front/lib/l10n/app_fr.arb
  Server/routes/Web/tickets.js
Labels: Front, Mobile, Web, BUG
